/*
Document   : uwtadmissions
Created on : May 13, 2015, 11:35:33 AM
Author     : jamesini
Description:
Purpose of the stylesheet follows.
*/
/*
TODO customize this sample style
Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
/* base has fonts, colors, and breakpoints.  It's an important one.*/
/* If set up correctly, put the narrowest breakpoints on top, then the wider breakpoints below (in the code).*/
/******************************************************************************/
/******************* EXTRA NARROW BREAKPOINT *************************/
@media only screen and (min-width: 0px) and (max-width: 410px) {
  /* line 4, ../sass/_bp_extra_narrow.scss */
  html body {
    /*******************************************************************************
    ****************************** DEBUGGING ************************************
    *******************************************************************************/
  }
  /* line 5, ../sass/_bp_extra_narrow.scss */
  html body #block-uwtfeatureslider-uwtfeatureslider {
    margin-bottom: 0;
  }
  /* line 11, ../sass/_bp_extra_narrow.scss */
  html body #banner-container #banner ul li {
    background-size: 100% 25%;
    background-repeat: no-repeat;
  }
  /* line 19, ../sass/_bp_extra_narrow.scss */
  html body #header {
    margin: 0 0;
    width: 100%;
    background-color: #4b2e84;
  }
  /* line 23, ../sass/_bp_extra_narrow.scss */
  html body #header h1 {
    font-size: 0.9em;
  }
  /* line 31, ../sass/_bp_extra_narrow.scss */
  html body #main #page-title {
    font-size: 0.9em;
  }
  /* line 39, ../sass/_bp_extra_narrow.scss */
  html body #main {
    background-color: #50C878;
  }
}
/* line 4, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html body {
  /*******************************************************************************
  ****************************** DEBUGGING ************************************
  *******************************************************************************/
}
/* line 5, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html body #block-uwtfeatureslider-uwtfeatureslider {
  margin-bottom: 0;
}
/* line 11, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html body #banner-container #banner ul li {
  background-size: 100% 25%;
  background-repeat: no-repeat;
}
/* line 19, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html body #header {
  margin: 0 0;
  width: 100%;
  background-color: #4b2e84;
}
/* line 23, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html body #header h1 {
  font-size: 0.9em;
}
/* line 31, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html body #main #page-title {
  font-size: 0.9em;
}
/* line 39, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html body #main {
  background-color: #50C878;
}

/******************************************************************************/
/************************* NARROW BREAKPOINT ***************************/
@media only screen and (max-width: 724px) {
  /* line 169, ../sass/_base.scss */
  html {
    /*******************************************************************************
    ****************************** DEBUGGING ***********************************
    *******************************************************************************/
  }
}
/* line 173, ../sass/_base.scss */
html.lt-ie9 html {
  /*******************************************************************************
  ****************************** DEBUGGING ***********************************
  *******************************************************************************/
}

/******************************************************************************/
/********************** MEDIUM BREAKPOINT *******************************/
@media only screen and (min-width: 725px) {
  /* line 180, ../sass/_base.scss */
  html {
    /*******************************************************************************
    ******************************* DEBUGGING ***********************************
    *******************************************************************************/
  }
}
/* line 184, ../sass/_base.scss */
html.lt-ie9 html {
  /*******************************************************************************
  ******************************* DEBUGGING ***********************************
  *******************************************************************************/
}

/******************************************************************************/
/********************** WIDEST BREAKPOINT ********************************/
@media only screen and (min-width: 975px) {
  /* line 191, ../sass/_base.scss */
  html {
    /*******************************************************************************
    ******************************* DEBUGGING ***********************************
    *******************************************************************************/
  }
  /* line 3, ../sass/_bp_widest.scss */
  html body {
    background-color: #4b2e84;
  }
  /* line 9, ../sass/_bp_widest.scss */
  html #search {
    position: fixed;
    left: 0;
    top: -150px;
    z-index: 3;
    max-width: 1200px;
    width: 100%;
    height: 0px;
    background-color: #444444;
    margin-left: auto;
    margin-right: auto;
    border: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  /* line 28, ../sass/_bp_widest.scss */
  html #search form {
    color: #444444;
  }
  /* line 30, ../sass/_bp_widest.scss */
  html #search form .container-inline {
    width: 370px;
    height: 75px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
  }
  /* line 36, ../sass/_bp_widest.scss */
  html #search form .container-inline #edit-search-block-form--2 {
    width: 250px;
  }
  /* line 39, ../sass/_bp_widest.scss */
  html #search form .container-inline #edit-submit {
    width: 80px;
  }
  /* line 43, ../sass/_bp_widest.scss */
  html #search form .container-inline .search-toggle.close {
    width: 30px;
    height: 30px;
  }
  /* line 46, ../sass/_bp_widest.scss */
  html #search form .container-inline .search-toggle.close:hover {
    cursor: pointer;
  }
  /* line 53, ../sass/_bp_widest.scss */
  html #search.show-search {
    position: fixed;
    top: 0px;
    height: 150px;
    border-style: solid;
    border-color: #e8e3d3;
    border-width: 2px;
    border-top-width: 0px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  /* line 72, ../sass/_bp_widest.scss */
  html #page {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  /* line 78, ../sass/_bp_widest.scss */
  html #page.show-search {
    position: relative;
    top: 150px;
  }
  /* line 86, ../sass/_bp_widest.scss */
  html .region-banner .block {
    margin-bottom: 0;
  }
  /* line 87, ../sass/_bp_widest.scss */
  html .region-banner #banner-container {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  /* line 94, ../sass/_bp_widest.scss */
  html .region-banner #banner-container #banner {
    overflow: auto;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*
    */
  }
  /* line 104, ../sass/_bp_widest.scss */
  html .region-banner #banner-container #banner ul {
    margin: 0;
    padding: 0;
    /*
    */
  }
  /* line 109, ../sass/_bp_widest.scss */
  html .region-banner #banner-container #banner ul li {
    float: left;
    list-style: none;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* line 114, ../sass/_bp_widest.scss */
  html .region-banner #banner-container #banner ul li div.adm-slide {
    width: 100%;
    height: 500px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 120, ../sass/_bp_widest.scss */
  html .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content {
    /**/
    display: block;
    position: relative;
    z-index: 2;
    max-width: 33%;
    max-height: 85%;
    height: 250px;
    top: 100px;
    padding: 10px;
    color: white;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.25);
    text-shadow: 1px 1px 1px black;
    font-size: 1.5em;
    line-height: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  /* line 141, ../sass/_bp_widest.scss */
  html .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content:hover {
    background-color: rgba(153, 153, 153, 0.85);
  }
  /* line 144, ../sass/_bp_widest.scss */
  html .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content h2 {
    /**/
    font-size: 1.5em;
    line-height: 100%;
    margin-top: 0;
    margin-bottom: 10px;
  }
  /* line 151, ../sass/_bp_widest.scss */
  html .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content p {
    color: white;
    margin: 0;
  }
  /* line 155, ../sass/_bp_widest.scss */
  html .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content a:link, html .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content a:visited {
    color: white;
    text-transform: uppercase;
    padding-top: 10px;
  }
  /* line 160, ../sass/_bp_widest.scss */
  html .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content a:link:after, html .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content a:visited:after {
    content: " \203A";
  }
  /* line 164, ../sass/_bp_widest.scss */
  html .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content.inline {
    padding: 0 0 0 5px;
  }
  /* line 166, ../sass/_bp_widest.scss */
  html .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content.inline h2, html .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content.inline div, html .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content.inline p, html .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content.inline a {
    font-size: 0.9em;
    display: inline;
    padding: 0;
  }
  /* line 179, ../sass/_bp_widest.scss */
  html #header {
    background: url(../images/W_only_CMYK.png);
    background-size: 297px 200px;
    background-position: bottom 0px right 10px;
    background-repeat: no-repeat;
    height: 500px;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 1;
  }
  /* line 191, ../sass/_bp_widest.scss */
  html #header h1 {
    text-shadow: 1px 1px 1px black;
    margin-bottom: 0;
  }
  /* line 195, ../sass/_bp_widest.scss */
  html #header .block {
    margin-bottom: 0;
  }
  /* line 200, ../sass/_bp_widest.scss */
  html #main {
    padding-top: 0px;
    /*  */
    border-top: 20px solid #4b2e84;
  }
  /* line 205, ../sass/_bp_widest.scss */
  html #main #content {
    background-color: white;
    padding-top: 20px;
  }
  /* line 209, ../sass/_bp_widest.scss */
  html #main #content h1#page-title {
    display: none;
  }
  /* line 214, ../sass/_bp_widest.scss */
  html #main #content a.uw-btn {
    margin-bottom: 20px;
  }
  /* line 222, ../sass/_bp_widest.scss */
  html #navigation {
    position: absolute;
    width: 100%;
    top: 90px;
    left: 0px;
    z-index: 1;
    background-color: #4b2e84;
    height: 50px;
    /* The overall height of the main purple menu */
    /* Setting heights on the menu elements allows for vertical centering */
  }
  /* line 230, ../sass/_bp_widest.scss */
  html #navigation .region-navigation {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 242, ../sass/_bp_widest.scss */
  html #navigation .region,
  html #navigation li,
  html #navigation .outerContainer,
  html #navigation .innerContainer,
  html #navigation .menu-block-wrapper,
  html #navigation .block-menu-block,
  html #navigation .menu {
    height: 100%;
  }
  /* line 247, ../sass/_bp_widest.scss */
  html #navigation .region #block-search-form {
    position: absolute;
    top: 10px;
    /* This vertically aligns the search form...might be too hard-codey though... */
    right: 10px;
    width: 150px;
  }
  /* line 252, ../sass/_bp_widest.scss */
  html #navigation .region #block-search-form #edit-submit {
    background: url(../images/search-icon-large.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    text-indent: -999px;
    overflow: hidden;
    border: none;
  }
  /* line 265, ../sass/_bp_widest.scss */
  html #navigation .region #block-search-form input[type="text"] {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  /* line 272, ../sass/_bp_widest.scss */
  html #navigation .region .menu li {
    vertical-align: middle;
    /* The flyout menu items */
  }
  /* line 274, ../sass/_bp_widest.scss */
  html #navigation .region .menu li .outerContainer {
    display: table;
  }
  /* line 276, ../sass/_bp_widest.scss */
  html #navigation .region .menu li .outerContainer .innerContainer {
    /* We hover on the innerContainer */
    display: table-cell;
    vertical-align: middle;
  }
  /* line 279, ../sass/_bp_widest.scss */
  html #navigation .region .menu li .outerContainer .innerContainer a:link, html #navigation .region .menu li .outerContainer .innerContainer a:visited {
    color: white;
    text-transform: uppercase;
    font-family: encode_sans_normal_bold;
    font-size: 16px;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
  }
  /* line 287, ../sass/_bp_widest.scss */
  html #navigation .region .menu li .outerContainer .innerContainer a:link:after, html #navigation .region .menu li .outerContainer .innerContainer a:visited:after {
    content: "";
    width: 8px;
    height: 20px;
    top: 16px;
    background: url("../images/slash.svg") no-repeat;
    position: absolute;
    margin-left: 12px;
  }
  /* line 297, ../sass/_bp_widest.scss */
  html #navigation .region .menu li .outerContainer .innerContainer:hover {
    /* We hover on the .innerContainer */
  }
  /* line 299, ../sass/_bp_widest.scss */
  html #navigation .region .menu li .outerContainer .innerContainer:hover > .element a:link, html #navigation .region .menu li .outerContainer .innerContainer:hover > .element a:visited {
    color: #e8e3d3;
  }
  /* line 303, ../sass/_bp_widest.scss */
  html #navigation .region .menu li .outerContainer .innerContainer:hover .menu {
    visibility: visible;
    opacity: 1;
  }
  /* line 311, ../sass/_bp_widest.scss */
  html #navigation .region .menu li .menu {
    border-top: 11px solid #4b2e84;
    background-color: #b7a57a;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0.2s linear, opacity 0.2s linear;
    -moz-transition: visibility 0.2s linear, opacity 0.2s linear;
    -o-transition: visibility 0.2s linear, opacity 0.2s linear;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  /* line 326, ../sass/_bp_widest.scss */
  html #navigation .region .menu li .menu li {
    padding: 0px;
    float: none;
    background-color: #b7a57a;
  }
  /* line 333, ../sass/_bp_widest.scss */
  html #navigation .region .menu li .menu li .outerContainer .innerContainer .element a:link, html #navigation .region .menu li .menu li .outerContainer .innerContainer .element a:visited {
    color: white;
    padding-left: 5px;
  }
  /* line 344, ../sass/_bp_widest.scss */
  html #navigation .region .menu li.first .outerContainer .innerContainer a:link, html #navigation .region .menu li.first .outerContainer .innerContainer a:visited {
    margin-left: 0;
  }
  /* line 348, ../sass/_bp_widest.scss */
  html #navigation .region .menu li.last .outerContainer .innerContainer {
    /* Don't put a slash on the last item */
  }
  /* line 351, ../sass/_bp_widest.scss */
  html #navigation .region .menu li.last .outerContainer .innerContainer a:link:after, html #navigation .region .menu li.last .outerContainer .innerContainer a:visited:after {
    width: 0px;
    /* This hides the slash */
  }
  /* line 360, ../sass/_bp_widest.scss */
  html #navigation .search-toggle.open {
    width: 30px;
    height: 30px;
    margin-top: 10px;
  }
  /* line 364, ../sass/_bp_widest.scss */
  html #navigation .search-toggle.open:hover {
    cursor: pointer;
  }
  /* line 372, ../sass/_bp_widest.scss */
  html .adm-home-block {
    background-color: white;
    padding: 10px;
    border: 2px solid #4b2e84;
    height: 5em;
    margin-bottom: 1em;
  }
  /* line 378, ../sass/_bp_widest.scss */
  html .adm-home-block h2 {
    margin: 0;
    font-family: encode_sans_normal_light;
    line-height: 1.25em;
  }
  /* line 382, ../sass/_bp_widest.scss */
  html .adm-home-block h2 a:link, html .adm-home-block h2 a:visited {
    color: #4b2e84;
  }
  /* line 390, ../sass/_bp_widest.scss */
  html .adm-home-btn-pane ul {
    padding-left: 0;
    margin-top: 0;
  }
  /* line 393, ../sass/_bp_widest.scss */
  html .adm-home-btn-pane ul li {
    width: 100%;
    max-width: 100%;
  }
  /* line 396, ../sass/_bp_widest.scss */
  html .adm-home-btn-pane ul li .uw-btn {
    margin-right: 0;
    width: 80%;
  }
}
/* line 195, ../sass/_base.scss */
html.lt-ie9 html {
  /*******************************************************************************
  ******************************* DEBUGGING ***********************************
  *******************************************************************************/
}
/* line 3, ../sass/_bp_widest.scss */
html.lt-ie9 html body {
  background-color: #4b2e84;
}
/* line 9, ../sass/_bp_widest.scss */
html.lt-ie9 html #search {
  position: fixed;
  left: 0;
  top: -150px;
  z-index: 3;
  max-width: 1200px;
  width: 100%;
  height: 0px;
  background-color: #444444;
  margin-left: auto;
  margin-right: auto;
  border: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 28, ../sass/_bp_widest.scss */
html.lt-ie9 html #search form {
  color: #444444;
}
/* line 30, ../sass/_bp_widest.scss */
html.lt-ie9 html #search form .container-inline {
  width: 370px;
  height: 75px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}
/* line 36, ../sass/_bp_widest.scss */
html.lt-ie9 html #search form .container-inline #edit-search-block-form--2 {
  width: 250px;
}
/* line 39, ../sass/_bp_widest.scss */
html.lt-ie9 html #search form .container-inline #edit-submit {
  width: 80px;
}
/* line 43, ../sass/_bp_widest.scss */
html.lt-ie9 html #search form .container-inline .search-toggle.close {
  width: 30px;
  height: 30px;
}
/* line 46, ../sass/_bp_widest.scss */
html.lt-ie9 html #search form .container-inline .search-toggle.close:hover {
  cursor: pointer;
}
/* line 53, ../sass/_bp_widest.scss */
html.lt-ie9 html #search.show-search {
  position: fixed;
  top: 0px;
  height: 150px;
  border-style: solid;
  border-color: #e8e3d3;
  border-width: 2px;
  border-top-width: 0px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 72, ../sass/_bp_widest.scss */
html.lt-ie9 html #page {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 78, ../sass/_bp_widest.scss */
html.lt-ie9 html #page.show-search {
  position: relative;
  top: 150px;
}
/* line 86, ../sass/_bp_widest.scss */
html.lt-ie9 html .region-banner .block {
  margin-bottom: 0;
}
/* line 87, ../sass/_bp_widest.scss */
html.lt-ie9 html .region-banner #banner-container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* line 94, ../sass/_bp_widest.scss */
html.lt-ie9 html .region-banner #banner-container #banner {
  overflow: auto;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*
  */
}
/* line 104, ../sass/_bp_widest.scss */
html.lt-ie9 html .region-banner #banner-container #banner ul {
  margin: 0;
  padding: 0;
  /*
  */
}
/* line 109, ../sass/_bp_widest.scss */
html.lt-ie9 html .region-banner #banner-container #banner ul li {
  float: left;
  list-style: none;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 114, ../sass/_bp_widest.scss */
html.lt-ie9 html .region-banner #banner-container #banner ul li div.adm-slide {
  width: 100%;
  height: 500px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* line 120, ../sass/_bp_widest.scss */
html.lt-ie9 html .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content {
  /**/
  display: block;
  position: relative;
  z-index: 2;
  max-width: 33%;
  max-height: 85%;
  height: 250px;
  top: 100px;
  padding: 10px;
  color: white;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.25);
  text-shadow: 1px 1px 1px black;
  font-size: 1.5em;
  line-height: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 141, ../sass/_bp_widest.scss */
html.lt-ie9 html .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content:hover {
  background-color: rgba(153, 153, 153, 0.85);
}
/* line 144, ../sass/_bp_widest.scss */
html.lt-ie9 html .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content h2 {
  /**/
  font-size: 1.5em;
  line-height: 100%;
  margin-top: 0;
  margin-bottom: 10px;
}
/* line 151, ../sass/_bp_widest.scss */
html.lt-ie9 html .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content p {
  color: white;
  margin: 0;
}
/* line 155, ../sass/_bp_widest.scss */
html.lt-ie9 html .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content a:link, html.lt-ie9 html .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content a:visited {
  color: white;
  text-transform: uppercase;
  padding-top: 10px;
}
/* line 160, ../sass/_bp_widest.scss */
html.lt-ie9 html .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content a:link:after, html.lt-ie9 html .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content a:visited:after {
  content: " \203A";
}
/* line 164, ../sass/_bp_widest.scss */
html.lt-ie9 html .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content.inline {
  padding: 0 0 0 5px;
}
/* line 166, ../sass/_bp_widest.scss */
html.lt-ie9 html .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content.inline h2, html.lt-ie9 html .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content.inline div, html.lt-ie9 html .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content.inline p, html.lt-ie9 html .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content.inline a {
  font-size: 0.9em;
  display: inline;
  padding: 0;
}
/* line 179, ../sass/_bp_widest.scss */
html.lt-ie9 html #header {
  background: url(../images/W_only_CMYK.png);
  background-size: 297px 200px;
  background-position: bottom 0px right 10px;
  background-repeat: no-repeat;
  height: 500px;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 1;
}
/* line 191, ../sass/_bp_widest.scss */
html.lt-ie9 html #header h1 {
  text-shadow: 1px 1px 1px black;
  margin-bottom: 0;
}
/* line 195, ../sass/_bp_widest.scss */
html.lt-ie9 html #header .block {
  margin-bottom: 0;
}
/* line 200, ../sass/_bp_widest.scss */
html.lt-ie9 html #main {
  padding-top: 0px;
  /*  */
  border-top: 20px solid #4b2e84;
}
/* line 205, ../sass/_bp_widest.scss */
html.lt-ie9 html #main #content {
  background-color: white;
  padding-top: 20px;
}
/* line 209, ../sass/_bp_widest.scss */
html.lt-ie9 html #main #content h1#page-title {
  display: none;
}
/* line 214, ../sass/_bp_widest.scss */
html.lt-ie9 html #main #content a.uw-btn {
  margin-bottom: 20px;
}
/* line 222, ../sass/_bp_widest.scss */
html.lt-ie9 html #navigation {
  position: absolute;
  width: 100%;
  top: 90px;
  left: 0px;
  z-index: 1;
  background-color: #4b2e84;
  height: 50px;
  /* The overall height of the main purple menu */
  /* Setting heights on the menu elements allows for vertical centering */
}
/* line 230, ../sass/_bp_widest.scss */
html.lt-ie9 html #navigation .region-navigation {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* line 242, ../sass/_bp_widest.scss */
html.lt-ie9 html #navigation .region,
html.lt-ie9 html #navigation li,
html.lt-ie9 html #navigation .outerContainer,
html.lt-ie9 html #navigation .innerContainer,
html.lt-ie9 html #navigation .menu-block-wrapper,
html.lt-ie9 html #navigation .block-menu-block,
html.lt-ie9 html #navigation .menu {
  height: 100%;
}
/* line 247, ../sass/_bp_widest.scss */
html.lt-ie9 html #navigation .region #block-search-form {
  position: absolute;
  top: 10px;
  /* This vertically aligns the search form...might be too hard-codey though... */
  right: 10px;
  width: 150px;
}
/* line 252, ../sass/_bp_widest.scss */
html.lt-ie9 html #navigation .region #block-search-form #edit-submit {
  background: url(../images/search-icon-large.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
  text-indent: -999px;
  overflow: hidden;
  border: none;
}
/* line 265, ../sass/_bp_widest.scss */
html.lt-ie9 html #navigation .region #block-search-form input[type="text"] {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 272, ../sass/_bp_widest.scss */
html.lt-ie9 html #navigation .region .menu li {
  vertical-align: middle;
  /* The flyout menu items */
}
/* line 274, ../sass/_bp_widest.scss */
html.lt-ie9 html #navigation .region .menu li .outerContainer {
  display: table;
}
/* line 276, ../sass/_bp_widest.scss */
html.lt-ie9 html #navigation .region .menu li .outerContainer .innerContainer {
  /* We hover on the innerContainer */
  display: table-cell;
  vertical-align: middle;
}
/* line 279, ../sass/_bp_widest.scss */
html.lt-ie9 html #navigation .region .menu li .outerContainer .innerContainer a:link, html.lt-ie9 html #navigation .region .menu li .outerContainer .innerContainer a:visited {
  color: white;
  text-transform: uppercase;
  font-family: encode_sans_normal_bold;
  font-size: 16px;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}
/* line 287, ../sass/_bp_widest.scss */
html.lt-ie9 html #navigation .region .menu li .outerContainer .innerContainer a:link:after, html.lt-ie9 html #navigation .region .menu li .outerContainer .innerContainer a:visited:after {
  content: "";
  width: 8px;
  height: 20px;
  top: 16px;
  background: url("../images/slash.svg") no-repeat;
  position: absolute;
  margin-left: 12px;
}
/* line 297, ../sass/_bp_widest.scss */
html.lt-ie9 html #navigation .region .menu li .outerContainer .innerContainer:hover {
  /* We hover on the .innerContainer */
}
/* line 299, ../sass/_bp_widest.scss */
html.lt-ie9 html #navigation .region .menu li .outerContainer .innerContainer:hover > .element a:link, html.lt-ie9 html #navigation .region .menu li .outerContainer .innerContainer:hover > .element a:visited {
  color: #e8e3d3;
}
/* line 303, ../sass/_bp_widest.scss */
html.lt-ie9 html #navigation .region .menu li .outerContainer .innerContainer:hover .menu {
  visibility: visible;
  opacity: 1;
}
/* line 311, ../sass/_bp_widest.scss */
html.lt-ie9 html #navigation .region .menu li .menu {
  border-top: 11px solid #4b2e84;
  background-color: #b7a57a;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0.2s linear, opacity 0.2s linear;
  -moz-transition: visibility 0.2s linear, opacity 0.2s linear;
  -o-transition: visibility 0.2s linear, opacity 0.2s linear;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 326, ../sass/_bp_widest.scss */
html.lt-ie9 html #navigation .region .menu li .menu li {
  padding: 0px;
  float: none;
  background-color: #b7a57a;
}
/* line 333, ../sass/_bp_widest.scss */
html.lt-ie9 html #navigation .region .menu li .menu li .outerContainer .innerContainer .element a:link, html.lt-ie9 html #navigation .region .menu li .menu li .outerContainer .innerContainer .element a:visited {
  color: white;
  padding-left: 5px;
}
/* line 344, ../sass/_bp_widest.scss */
html.lt-ie9 html #navigation .region .menu li.first .outerContainer .innerContainer a:link, html.lt-ie9 html #navigation .region .menu li.first .outerContainer .innerContainer a:visited {
  margin-left: 0;
}
/* line 348, ../sass/_bp_widest.scss */
html.lt-ie9 html #navigation .region .menu li.last .outerContainer .innerContainer {
  /* Don't put a slash on the last item */
}
/* line 351, ../sass/_bp_widest.scss */
html.lt-ie9 html #navigation .region .menu li.last .outerContainer .innerContainer a:link:after, html.lt-ie9 html #navigation .region .menu li.last .outerContainer .innerContainer a:visited:after {
  width: 0px;
  /* This hides the slash */
}
/* line 360, ../sass/_bp_widest.scss */
html.lt-ie9 html #navigation .search-toggle.open {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}
/* line 364, ../sass/_bp_widest.scss */
html.lt-ie9 html #navigation .search-toggle.open:hover {
  cursor: pointer;
}
/* line 372, ../sass/_bp_widest.scss */
html.lt-ie9 html .adm-home-block {
  background-color: white;
  padding: 10px;
  border: 2px solid #4b2e84;
  height: 5em;
  margin-bottom: 1em;
}
/* line 378, ../sass/_bp_widest.scss */
html.lt-ie9 html .adm-home-block h2 {
  margin: 0;
  font-family: encode_sans_normal_light;
  line-height: 1.25em;
}
/* line 382, ../sass/_bp_widest.scss */
html.lt-ie9 html .adm-home-block h2 a:link, html.lt-ie9 html .adm-home-block h2 a:visited {
  color: #4b2e84;
}
/* line 390, ../sass/_bp_widest.scss */
html.lt-ie9 html .adm-home-btn-pane ul {
  padding-left: 0;
  margin-top: 0;
}
/* line 393, ../sass/_bp_widest.scss */
html.lt-ie9 html .adm-home-btn-pane ul li {
  width: 100%;
  max-width: 100%;
}
/* line 396, ../sass/_bp_widest.scss */
html.lt-ie9 html .adm-home-btn-pane ul li .uw-btn {
  margin-right: 0;
  width: 80%;
}

/* Always apply these rules, regardless of breakpoint */
/* line 40, ../sass/uwtadmissions.scss */
body {
  font-family: open_sans_regular;
  color: white;
  background-color: transparent;
}
/* line 44, ../sass/uwtadmissions.scss */
body h1 {
  font-family: encode_sans_normal_bold;
  text-transform: uppercase;
  margin-top: 0;
}
