/*
Document   : uwtadmissions
Created on : May 13, 2015, 11:35:33 AM
Author     : jamesini
Description:
Purpose of the stylesheet follows.
*/
/*
TODO customize this sample style
Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
/* base has fonts, colors, and breakpoints.  It's an important one.*/
/* If set up correctly, put the narrowest breakpoints on top, then the wider breakpoints below (in the code).*/
/******************************************************************************/
/******************* EXTRA NARROW BREAKPOINT *************************/
/* line 160, ../sass/_base.scss */
html {
  /*
  * Medium has most of the goods.  Widest just adds a bit.
  */
}
@media only screen and (min-width: 0px) and (max-width: 410px) {
  /* line 160, ../sass/_base.scss */
  html {
    /****************************************************
    ********** SEARCH-N-NAV CONTAINER **********
    ****************************************************/
    /******************************
    ********** HEADER **********
    ******************************/
    /**********************************************
    ********** BANNER / SLIDESHOW **********
    **********************************************/
    /***************************
    ********** MAIN **********
    ***************************/
    /**********************************
    ********** DEBUGGING **********
    **********************************/
  }
  /* line 2, ../sass/_bp_extra_narrow.scss */
  html body {
    overflow-x: hidden;
  }
  /* line 5, ../sass/_bp_extra_narrow.scss */
  html #page {
    position: relative;
  }
  /* line 9, ../sass/_bp_extra_narrow.scss */
  html #search-toggler {
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: #4b2e84;
    padding-left: 10px;
  }
  /* line 15, ../sass/_bp_extra_narrow.scss */
  html #search-toggler span {
    vertical-align: text-bottom;
  }
  /* line 18, ../sass/_bp_extra_narrow.scss */
  html #search-toggler:hover {
    cursor: pointer;
  }
  /* line 21, ../sass/_bp_extra_narrow.scss */
  html #search-toggler .icon {
    font-size: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0px 5px 0px 0px;
    vertical-align: top;
  }
  /* line 29, ../sass/_bp_extra_narrow.scss */
  html #search-toggler .icon:before {
    content: '\25A4';
  }
  /* line 33, ../sass/_bp_extra_narrow.scss */
  html #search-toggler.search-opened {
    position: fixed;
  }
  /* line 36, ../sass/_bp_extra_narrow.scss */
  html #search-toggler.search-opened .icon:before {
    content: '\22A0';
  }
  /* line 53, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav {
    position: fixed;
    top: -100%;
    left: 0;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    /***********************************
    ********** NAVIGATION **********
    ***********************************/
  }
  /* line 65, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav .region-search {
    color: #444444;
  }
  /* line 68, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav.show-search {
    top: 40px;
    z-index: 2;
    background-color: #444444;
    color: white;
    /***********************************************
    ********** SHOWING NAVIGATION **********
    ***********************************************/
  }
  /* line 77, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav.show-search #navigation {
    visibility: visible;
  }
  /* line 79, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav.show-search #navigation ul {
    width: 100%;
    margin-top: 20px;
  }
  /* line 82, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav.show-search #navigation ul li {
    float: none;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    display: block;
    height: 3em;
    line-height: 3em;
    background-color: #e8e3d3;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding-left: 10px;
  }
  /* line 93, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav.show-search #navigation ul li a {
    width: 86%;
  }
  /* line 97, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav.show-search #navigation ul ul {
    display: none;
  }
  /* line 102, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav.show-search #nav-closer {
    display: block;
  }
  /* line 107, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav .search-toggle {
    width: 40px;
    height: 40px;
    float: left;
  }
  /* line 112, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav #block-search-form {
    padding-top: 5px;
    margin-bottom: 0;
  }
  /* line 119, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav #navigation {
    width: 100%;
    padding-left: 0;
    visibility: hidden;
  }
  /* line 123, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav #navigation.mobilized {
    position: absolute;
    top: 60px;
    left: 0;
    height: 30px;
    width: 100%;
    padding: 0;
    background-color: #4b2e84;
  }
  /* line 132, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav #navigation.mobilized ul li {
    display: none;
  }
  /* line 134, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav #navigation.mobilized ul li ul {
    display: none;
  }
  /* line 141, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav #navigation.mobilized #nav-closer {
    display: none;
  }
  /* line 152, ../sass/_bp_extra_narrow.scss */
  html #header {
    position: relative;
    width: 100%;
    background-color: black;
  }
  /* line 159, ../sass/_bp_extra_narrow.scss */
  html #header .block {
    margin-bottom: 0;
  }
  /* line 162, ../sass/_bp_extra_narrow.scss */
  html #header h1 {
    font-size: 1em;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  /* line 171, ../sass/_bp_extra_narrow.scss */
  html #nav-opener {
    position: relative;
    background-color: #4b2e84;
    z-index: 1;
    padding-left: 10px;
  }
  /* line 185, ../sass/_bp_extra_narrow.scss */
  html .region-banner h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.25em;
    line-height: 1.25em;
    text-shadow: 1px 1px 1px black;
  }
  /* line 196, ../sass/_bp_extra_narrow.scss */
  html .region-banner .block {
    margin-bottom: 0;
  }
  /* line 199, ../sass/_bp_extra_narrow.scss */
  html .region-banner #banner-container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  /* line 208, ../sass/_bp_extra_narrow.scss */
  html .region-banner #banner-container #banner {
    overflow: auto;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  /* line 215, ../sass/_bp_extra_narrow.scss */
  html .region-banner #banner-container #banner ul {
    margin: 0;
    padding: 0;
  }
  /* line 219, ../sass/_bp_extra_narrow.scss */
  html .region-banner #banner-container #banner ul li {
    height: 250px;
    float: left;
    list-style: none;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* line 228, ../sass/_bp_extra_narrow.scss */
  html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content {
    padding-left: 10px;
    padding-right: 10px;
  }
  /* line 231, ../sass/_bp_extra_narrow.scss */
  html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content a:link, html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content a:visited {
    text-transform: uppercase;
    margin-top: 10px;
  }
  /* line 234, ../sass/_bp_extra_narrow.scss */
  html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content a:link:after, html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content a:visited:after {
    content: " \203A";
  }
  /* line 238, ../sass/_bp_extra_narrow.scss */
  html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content p, html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content a:visited, html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content a:link {
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    color: white;
    margin: 0;
  }
  /* line 259, ../sass/_bp_extra_narrow.scss */
  html #main #content #page-title {
    display: none;
  }
  /* line 268, ../sass/_bp_extra_narrow.scss */
  html body {
    background-color: #50C878;
  }
}
/* line 164, ../sass/_base.scss */
html.lt-ie9 html {
  /****************************************************
  ********** SEARCH-N-NAV CONTAINER **********
  ****************************************************/
  /******************************
  ********** HEADER **********
  ******************************/
  /**********************************************
  ********** BANNER / SLIDESHOW **********
  **********************************************/
  /***************************
  ********** MAIN **********
  ***************************/
  /**********************************
  ********** DEBUGGING **********
  **********************************/
}
/* line 2, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html body {
  overflow-x: hidden;
}
/* line 5, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #page {
  position: relative;
}
/* line 9, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-toggler {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: #4b2e84;
  padding-left: 10px;
}
/* line 15, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-toggler span {
  vertical-align: text-bottom;
}
/* line 18, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-toggler:hover {
  cursor: pointer;
}
/* line 21, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-toggler .icon {
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0px 5px 0px 0px;
  vertical-align: top;
}
/* line 29, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-toggler .icon:before {
  content: '\25A4';
}
/* line 33, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-toggler.search-opened {
  position: fixed;
}
/* line 36, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-toggler.search-opened .icon:before {
  content: '\22A0';
}
/* line 53, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav {
  position: fixed;
  top: -100%;
  left: 0;
  padding-left: 10px;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  /***********************************
  ********** NAVIGATION **********
  ***********************************/
}
/* line 65, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav .region-search {
  color: #444444;
}
/* line 68, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav.show-search {
  top: 40px;
  z-index: 2;
  background-color: #444444;
  color: white;
  /***********************************************
  ********** SHOWING NAVIGATION **********
  ***********************************************/
}
/* line 77, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav.show-search #navigation {
  visibility: visible;
}
/* line 79, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav.show-search #navigation ul {
  width: 100%;
  margin-top: 20px;
}
/* line 82, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav.show-search #navigation ul li {
  float: none;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  display: block;
  height: 3em;
  line-height: 3em;
  background-color: #e8e3d3;
  margin-bottom: 10px;
  text-transform: uppercase;
  padding-left: 10px;
}
/* line 93, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav.show-search #navigation ul li a {
  width: 86%;
}
/* line 97, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav.show-search #navigation ul ul {
  display: none;
}
/* line 102, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav.show-search #nav-closer {
  display: block;
}
/* line 107, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav .search-toggle {
  width: 40px;
  height: 40px;
  float: left;
}
/* line 112, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav #block-search-form {
  padding-top: 5px;
  margin-bottom: 0;
}
/* line 119, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav #navigation {
  width: 100%;
  padding-left: 0;
  visibility: hidden;
}
/* line 123, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav #navigation.mobilized {
  position: absolute;
  top: 60px;
  left: 0;
  height: 30px;
  width: 100%;
  padding: 0;
  background-color: #4b2e84;
}
/* line 132, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav #navigation.mobilized ul li {
  display: none;
}
/* line 134, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav #navigation.mobilized ul li ul {
  display: none;
}
/* line 141, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav #navigation.mobilized #nav-closer {
  display: none;
}
/* line 152, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #header {
  position: relative;
  width: 100%;
  background-color: black;
}
/* line 159, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #header .block {
  margin-bottom: 0;
}
/* line 162, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #header h1 {
  font-size: 1em;
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 171, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #nav-opener {
  position: relative;
  background-color: #4b2e84;
  z-index: 1;
  padding-left: 10px;
}
/* line 185, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html .region-banner h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.25em;
  line-height: 1.25em;
  text-shadow: 1px 1px 1px black;
}
/* line 196, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html .region-banner .block {
  margin-bottom: 0;
}
/* line 199, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html .region-banner #banner-container {
  margin: 0;
  padding: 0;
  width: 100%;
}
/* line 208, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html .region-banner #banner-container #banner {
  overflow: auto;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/* line 215, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html .region-banner #banner-container #banner ul {
  margin: 0;
  padding: 0;
}
/* line 219, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html .region-banner #banner-container #banner ul li {
  height: 250px;
  float: left;
  list-style: none;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 228, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content {
  padding-left: 10px;
  padding-right: 10px;
}
/* line 231, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content a:link, html.lt-ie9 html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content a:visited {
  text-transform: uppercase;
  margin-top: 10px;
}
/* line 234, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content a:link:after, html.lt-ie9 html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content a:visited:after {
  content: " \203A";
}
/* line 238, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content p, html.lt-ie9 html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content a:visited, html.lt-ie9 html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content a:link {
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  color: white;
  margin: 0;
}
/* line 259, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #main #content #page-title {
  display: none;
}
/* line 268, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html body {
  background-color: #50C878;
}

/******************************************************************************/
/************************* NARROW BREAKPOINT ***************************/
/* line 171, ../sass/_base.scss */
html {
  /*
  * Medium has most of the goods.  Widest just adds a bit.
  */
}
@media only screen and (min-width: 411px) {
  /* line 171, ../sass/_base.scss */
  html {
    /*****************************************
    ********** SEARCH TOGGLER **********
    *****************************************/
    /****************************************************************
    ********** SEARCH AND NAVIGATION CONTAINER *********
    ****************************************************************/
  }
  /* line 4, ../sass/_bp_narrow.scss */
  html body {
    background-color: #4b2e84;
    overflow-x: hidden;
  }
  /* line 13, ../sass/_bp_narrow.scss */
  html #search-toggler {
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: #4b2e84;
    padding-left: 10px;
  }
  /* line 20, ../sass/_bp_narrow.scss */
  html #search-toggler span {
    vertical-align: text-bottom;
  }
  /* line 23, ../sass/_bp_narrow.scss */
  html #search-toggler:hover {
    cursor: pointer;
  }
  /* line 26, ../sass/_bp_narrow.scss */
  html #search-toggler .icon {
    font-size: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0px 5px 0px 0px;
    vertical-align: top;
  }
  /* line 34, ../sass/_bp_narrow.scss */
  html #search-toggler .icon:before {
    content: '\25A4';
  }
  /* line 38, ../sass/_bp_narrow.scss */
  html #search-toggler.search-opened {
    position: fixed;
  }
  /* line 41, ../sass/_bp_narrow.scss */
  html #search-toggler.search-opened .icon:before {
    content: '\22A0';
  }
  /* line 51, ../sass/_bp_narrow.scss */
  html #search-n-nav {
    position: fixed;
    height: 100%;
    top: -100%;
    z-index: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  /* line 61, ../sass/_bp_narrow.scss */
  html #search-n-nav.show-search {
    top: 40px;
    background-color: #444444;
    z-index: 1;
    width: 100%;
  }
  /* line 70, ../sass/_bp_narrow.scss */
  html #search-n-nav #navigation {
    position: relative;
    top: inherit;
    height: 100%;
  }
  /* line 75, ../sass/_bp_narrow.scss */
  html #search-n-nav #navigation .menu li {
    float: none;
  }
  /* line 82, ../sass/_bp_narrow.scss */
  html x {
    /*******************************************************************************
    ******************************* DEBUGGING ***********************************
    *******************************************************************************/
  }
  /* line 83, ../sass/_bp_narrow.scss */
  html x #search {
    position: relative;
    top: -200px;
    z-index: 3;
    max-width: 1200px;
    width: 100%;
    height: 200px;
    background-color: #444444;
    margin-left: auto;
    margin-right: auto;
    border: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  /* line 100, ../sass/_bp_narrow.scss */
  html x #search form {
    color: #444444;
  }
  /* line 102, ../sass/_bp_narrow.scss */
  html x #search form .container-inline {
    width: 370px;
    margin-right: auto;
    margin-left: auto;
  }
  /* line 108, ../sass/_bp_narrow.scss */
  html x #search form .container-inline #edit-search-block-form--2 {
    width: 250px;
  }
  /* line 111, ../sass/_bp_narrow.scss */
  html x #search form .container-inline #edit-submit {
    width: 80px;
  }
  /* line 115, ../sass/_bp_narrow.scss */
  html x #search form .container-inline .search-toggle.close {
    width: 30px;
    height: 30px;
  }
  /* line 118, ../sass/_bp_narrow.scss */
  html x #search form .container-inline .search-toggle.close:hover {
    cursor: pointer;
  }
  /* line 125, ../sass/_bp_narrow.scss */
  html x #search.show-search {
    position: relative;
    top: 0px;
    border-style: solid;
    border-color: #e8e3d3;
    border-width: 2px;
    border-top-width: 0px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  /* line 144, ../sass/_bp_narrow.scss */
  html x #page {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  /* line 151, ../sass/_bp_narrow.scss */
  html x #page.show-search {
    position: relative;
    top: 150px;
  }
  /* line 159, ../sass/_bp_narrow.scss */
  html x .region-banner .block {
    margin-bottom: 0;
  }
  /* line 162, ../sass/_bp_narrow.scss */
  html x .region-banner #banner-container {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  /* line 169, ../sass/_bp_narrow.scss */
  html x .region-banner #banner-container #banner {
    overflow: auto;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*
    */
  }
  /* line 179, ../sass/_bp_narrow.scss */
  html x .region-banner #banner-container #banner ul {
    margin: 0;
    padding: 0;
    /*
    */
  }
  /* line 184, ../sass/_bp_narrow.scss */
  html x .region-banner #banner-container #banner ul li {
    float: left;
    list-style: none;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* line 189, ../sass/_bp_narrow.scss */
  html x .region-banner #banner-container #banner ul li div.adm-slide {
    width: 100%;
    height: 500px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 195, ../sass/_bp_narrow.scss */
  html x .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content {
    max-width: 50%;
    display: block;
    position: relative;
    /* BEGIN DEBUG */
    z-index: 2;
    /* END DEBUG */
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    color: white;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.25);
    text-shadow: 1px 1px 1px black;
    line-height: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  /* line 220, ../sass/_bp_narrow.scss */
  html x .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content:hover {
    background-color: rgba(153, 153, 153, 0.85);
  }
  /* line 223, ../sass/_bp_narrow.scss */
  html x .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content h2 {
    line-height: 100%;
    margin-top: 0;
    margin-bottom: 10px;
  }
  /* line 228, ../sass/_bp_narrow.scss */
  html x .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content p {
    color: white;
    margin: 0;
  }
  /* line 232, ../sass/_bp_narrow.scss */
  html x .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content a:link, html x .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content a:visited {
    color: white;
    text-transform: uppercase;
    padding-top: 10px;
  }
  /* line 237, ../sass/_bp_narrow.scss */
  html x .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content a:link:after, html x .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content a:visited:after {
    content: " \203A";
  }
  /* line 241, ../sass/_bp_narrow.scss */
  html x .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content.inline {
    padding: 0 0 0 5px;
  }
  /* line 243, ../sass/_bp_narrow.scss */
  html x .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content.inline h2, html x .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content.inline div, html x .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content.inline p, html x .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content.inline a {
    font-size: 0.9em;
    display: inline;
    padding: 0;
  }
  /* line 256, ../sass/_bp_narrow.scss */
  html x #header {
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 1;
  }
  /* line 268, ../sass/_bp_narrow.scss */
  html x #header h1 {
    text-shadow: 1px 1px 1px black;
    margin-bottom: 0;
    margin-top: 10px;
    margin-right: 80px;
    font-size: 1.75em;
    display: block;
  }
  /* line 278, ../sass/_bp_narrow.scss */
  html x #header .block {
    margin-bottom: 0;
    margin-left: 10px;
  }
  /* line 284, ../sass/_bp_narrow.scss */
  html x #main {
    padding-top: 0px;
    /*  */
    border-top: 20px solid #4b2e84;
    position: relative;
    z-index: 2;
  }
  /* line 290, ../sass/_bp_narrow.scss */
  html x #main #content {
    background-color: white;
    padding-top: 20px;
    position: relative;
    z-index: 2;
  }
  /* line 296, ../sass/_bp_narrow.scss */
  html x #main #content h1#page-title {
    display: none;
  }
  /* line 301, ../sass/_bp_narrow.scss */
  html x #main #content a.uw-btn {
    margin-bottom: 20px;
  }
  /* line 305, ../sass/_bp_narrow.scss */
  html x #main #content .panel-col-first {
    padding-left: 0;
  }
  /* line 312, ../sass/_bp_narrow.scss */
  html x #navigation.mobilized {
    padding: 0;
    position: absolute;
    width: 50%;
    right: -50%;
    height: 100%;
    top: 0;
    visibility: hidden;
    background-color: #4b2e84;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  /* line 316, ../sass/_bp_narrow.scss */
  html x #navigation.mobilized .menu li {
    padding-left: 10px;
    width: 100%;
    height: 50px;
    background-color: #e8e3d3;
    color: #4b2e84;
  }
  /* line 323, ../sass/_bp_narrow.scss */
  html x #navigation.mobilized .menu .menu {
    visibility: hidden;
  }
  /* line 342, ../sass/_bp_narrow.scss */
  html x #navigation.mobilized.show-nav {
    visibility: visible;
    z-index: 3;
    right: 0%;
    -webkit-box-shadow: -10px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: -10px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: -10px 0px 5px 0px rgba(50, 50, 50, 0.75);
  }
  /* line 351, ../sass/_bp_narrow.scss */
  html x #navigation.mobilized #nav-closer .nav-closer-icon {
    width: 30px;
    height: 30px;
  }
  /* line 356, ../sass/_bp_narrow.scss */
  html x #navigation.mobilized #nav-closer:hover {
    cursor: pointer;
  }
  /* line 361, ../sass/_bp_narrow.scss */
  html x #navigation.mobilized #block-search-form {
    color: #444444;
    padding: 10px;
  }
  /* line 366, ../sass/_bp_narrow.scss */
  html x #nav-opener {
    border: 2px solid #4b2e84;
    border-right: 0px;
    max-width: 20%;
    font-size: 12px;
    position: absolute;
    z-index: 2;
    top: 40px;
    right: 0px;
    background-color: #e8e3d3;
    color: #444444;
    padding: 10px;
    -webkit-box-shadow: -10px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: -10px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: -10px 0px 5px 0px rgba(50, 50, 50, 0.75);
  }
  /* line 381, ../sass/_bp_narrow.scss */
  html x #nav-opener:hover {
    cursor: pointer;
    background-color: #4b2e84;
    color: white;
    border: none;
    -webkit-box-shadow: -4px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: -4px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: -4px 0px 5px 0px rgba(50, 50, 50, 0.75);
  }
  /* line 396, ../sass/_bp_narrow.scss */
  html x .adm-home-block {
    background-color: white;
    padding: 10px;
    border: 2px solid #4b2e84;
    height: 5em;
    margin-bottom: 1em;
  }
  /* line 402, ../sass/_bp_narrow.scss */
  html x .adm-home-block h2 {
    margin: 0;
    font-family: encode_sans_normal_light;
    line-height: 1.25em;
    font-size: 1.25em;
  }
  /* line 407, ../sass/_bp_narrow.scss */
  html x .adm-home-block h2 a:link, html x .adm-home-block h2 a:visited {
    color: #4b2e84;
  }
  /* line 415, ../sass/_bp_narrow.scss */
  html x .adm-home-btn-pane ul {
    padding-left: 0;
    margin-top: 0;
  }
  /* line 418, ../sass/_bp_narrow.scss */
  html x .adm-home-btn-pane ul li {
    width: 100%;
    max-width: 100%;
  }
  /* line 421, ../sass/_bp_narrow.scss */
  html x .adm-home-btn-pane ul li .uw-btn {
    margin-right: 0;
    width: 80%;
  }
  /* line 432, ../sass/_bp_narrow.scss */
  html x body {
    background-color: navy;
  }
}
/* line 175, ../sass/_base.scss */
html.lt-ie9 html {
  /*****************************************
  ********** SEARCH TOGGLER **********
  *****************************************/
  /****************************************************************
  ********** SEARCH AND NAVIGATION CONTAINER *********
  ****************************************************************/
}
/* line 4, ../sass/_bp_narrow.scss */
html.lt-ie9 html body {
  background-color: #4b2e84;
  overflow-x: hidden;
}
/* line 13, ../sass/_bp_narrow.scss */
html.lt-ie9 html #search-toggler {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: #4b2e84;
  padding-left: 10px;
}
/* line 20, ../sass/_bp_narrow.scss */
html.lt-ie9 html #search-toggler span {
  vertical-align: text-bottom;
}
/* line 23, ../sass/_bp_narrow.scss */
html.lt-ie9 html #search-toggler:hover {
  cursor: pointer;
}
/* line 26, ../sass/_bp_narrow.scss */
html.lt-ie9 html #search-toggler .icon {
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0px 5px 0px 0px;
  vertical-align: top;
}
/* line 34, ../sass/_bp_narrow.scss */
html.lt-ie9 html #search-toggler .icon:before {
  content: '\25A4';
}
/* line 38, ../sass/_bp_narrow.scss */
html.lt-ie9 html #search-toggler.search-opened {
  position: fixed;
}
/* line 41, ../sass/_bp_narrow.scss */
html.lt-ie9 html #search-toggler.search-opened .icon:before {
  content: '\22A0';
}
/* line 51, ../sass/_bp_narrow.scss */
html.lt-ie9 html #search-n-nav {
  position: fixed;
  height: 100%;
  top: -100%;
  z-index: 1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 61, ../sass/_bp_narrow.scss */
html.lt-ie9 html #search-n-nav.show-search {
  top: 40px;
  background-color: #444444;
  z-index: 1;
  width: 100%;
}
/* line 70, ../sass/_bp_narrow.scss */
html.lt-ie9 html #search-n-nav #navigation {
  position: relative;
  top: inherit;
  height: 100%;
}
/* line 75, ../sass/_bp_narrow.scss */
html.lt-ie9 html #search-n-nav #navigation .menu li {
  float: none;
}
/* line 82, ../sass/_bp_narrow.scss */
html.lt-ie9 html x {
  /*******************************************************************************
  ******************************* DEBUGGING ***********************************
  *******************************************************************************/
}
/* line 83, ../sass/_bp_narrow.scss */
html.lt-ie9 html x #search {
  position: relative;
  top: -200px;
  z-index: 3;
  max-width: 1200px;
  width: 100%;
  height: 200px;
  background-color: #444444;
  margin-left: auto;
  margin-right: auto;
  border: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 100, ../sass/_bp_narrow.scss */
html.lt-ie9 html x #search form {
  color: #444444;
}
/* line 102, ../sass/_bp_narrow.scss */
html.lt-ie9 html x #search form .container-inline {
  width: 370px;
  margin-right: auto;
  margin-left: auto;
}
/* line 108, ../sass/_bp_narrow.scss */
html.lt-ie9 html x #search form .container-inline #edit-search-block-form--2 {
  width: 250px;
}
/* line 111, ../sass/_bp_narrow.scss */
html.lt-ie9 html x #search form .container-inline #edit-submit {
  width: 80px;
}
/* line 115, ../sass/_bp_narrow.scss */
html.lt-ie9 html x #search form .container-inline .search-toggle.close {
  width: 30px;
  height: 30px;
}
/* line 118, ../sass/_bp_narrow.scss */
html.lt-ie9 html x #search form .container-inline .search-toggle.close:hover {
  cursor: pointer;
}
/* line 125, ../sass/_bp_narrow.scss */
html.lt-ie9 html x #search.show-search {
  position: relative;
  top: 0px;
  border-style: solid;
  border-color: #e8e3d3;
  border-width: 2px;
  border-top-width: 0px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 144, ../sass/_bp_narrow.scss */
html.lt-ie9 html x #page {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 151, ../sass/_bp_narrow.scss */
html.lt-ie9 html x #page.show-search {
  position: relative;
  top: 150px;
}
/* line 159, ../sass/_bp_narrow.scss */
html.lt-ie9 html x .region-banner .block {
  margin-bottom: 0;
}
/* line 162, ../sass/_bp_narrow.scss */
html.lt-ie9 html x .region-banner #banner-container {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* line 169, ../sass/_bp_narrow.scss */
html.lt-ie9 html x .region-banner #banner-container #banner {
  overflow: auto;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*
  */
}
/* line 179, ../sass/_bp_narrow.scss */
html.lt-ie9 html x .region-banner #banner-container #banner ul {
  margin: 0;
  padding: 0;
  /*
  */
}
/* line 184, ../sass/_bp_narrow.scss */
html.lt-ie9 html x .region-banner #banner-container #banner ul li {
  float: left;
  list-style: none;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 189, ../sass/_bp_narrow.scss */
html.lt-ie9 html x .region-banner #banner-container #banner ul li div.adm-slide {
  width: 100%;
  height: 500px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* line 195, ../sass/_bp_narrow.scss */
html.lt-ie9 html x .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content {
  max-width: 50%;
  display: block;
  position: relative;
  /* BEGIN DEBUG */
  z-index: 2;
  /* END DEBUG */
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  color: white;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.25);
  text-shadow: 1px 1px 1px black;
  line-height: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 220, ../sass/_bp_narrow.scss */
html.lt-ie9 html x .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content:hover {
  background-color: rgba(153, 153, 153, 0.85);
}
/* line 223, ../sass/_bp_narrow.scss */
html.lt-ie9 html x .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content h2 {
  line-height: 100%;
  margin-top: 0;
  margin-bottom: 10px;
}
/* line 228, ../sass/_bp_narrow.scss */
html.lt-ie9 html x .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content p {
  color: white;
  margin: 0;
}
/* line 232, ../sass/_bp_narrow.scss */
html.lt-ie9 html x .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content a:link, html.lt-ie9 html x .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content a:visited {
  color: white;
  text-transform: uppercase;
  padding-top: 10px;
}
/* line 237, ../sass/_bp_narrow.scss */
html.lt-ie9 html x .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content a:link:after, html.lt-ie9 html x .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content a:visited:after {
  content: " \203A";
}
/* line 241, ../sass/_bp_narrow.scss */
html.lt-ie9 html x .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content.inline {
  padding: 0 0 0 5px;
}
/* line 243, ../sass/_bp_narrow.scss */
html.lt-ie9 html x .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content.inline h2, html.lt-ie9 html x .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content.inline div, html.lt-ie9 html x .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content.inline p, html.lt-ie9 html x .region-banner #banner-container #banner ul li div.adm-slide div.adm-slide-content.inline a {
  font-size: 0.9em;
  display: inline;
  padding: 0;
}
/* line 256, ../sass/_bp_narrow.scss */
html.lt-ie9 html x #header {
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 1;
}
/* line 268, ../sass/_bp_narrow.scss */
html.lt-ie9 html x #header h1 {
  text-shadow: 1px 1px 1px black;
  margin-bottom: 0;
  margin-top: 10px;
  margin-right: 80px;
  font-size: 1.75em;
  display: block;
}
/* line 278, ../sass/_bp_narrow.scss */
html.lt-ie9 html x #header .block {
  margin-bottom: 0;
  margin-left: 10px;
}
/* line 284, ../sass/_bp_narrow.scss */
html.lt-ie9 html x #main {
  padding-top: 0px;
  /*  */
  border-top: 20px solid #4b2e84;
  position: relative;
  z-index: 2;
}
/* line 290, ../sass/_bp_narrow.scss */
html.lt-ie9 html x #main #content {
  background-color: white;
  padding-top: 20px;
  position: relative;
  z-index: 2;
}
/* line 296, ../sass/_bp_narrow.scss */
html.lt-ie9 html x #main #content h1#page-title {
  display: none;
}
/* line 301, ../sass/_bp_narrow.scss */
html.lt-ie9 html x #main #content a.uw-btn {
  margin-bottom: 20px;
}
/* line 305, ../sass/_bp_narrow.scss */
html.lt-ie9 html x #main #content .panel-col-first {
  padding-left: 0;
}
/* line 312, ../sass/_bp_narrow.scss */
html.lt-ie9 html x #navigation.mobilized {
  padding: 0;
  position: absolute;
  width: 50%;
  right: -50%;
  height: 100%;
  top: 0;
  visibility: hidden;
  background-color: #4b2e84;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 316, ../sass/_bp_narrow.scss */
html.lt-ie9 html x #navigation.mobilized .menu li {
  padding-left: 10px;
  width: 100%;
  height: 50px;
  background-color: #e8e3d3;
  color: #4b2e84;
}
/* line 323, ../sass/_bp_narrow.scss */
html.lt-ie9 html x #navigation.mobilized .menu .menu {
  visibility: hidden;
}
/* line 342, ../sass/_bp_narrow.scss */
html.lt-ie9 html x #navigation.mobilized.show-nav {
  visibility: visible;
  z-index: 3;
  right: 0%;
  -webkit-box-shadow: -10px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: -10px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: -10px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
/* line 351, ../sass/_bp_narrow.scss */
html.lt-ie9 html x #navigation.mobilized #nav-closer .nav-closer-icon {
  width: 30px;
  height: 30px;
}
/* line 356, ../sass/_bp_narrow.scss */
html.lt-ie9 html x #navigation.mobilized #nav-closer:hover {
  cursor: pointer;
}
/* line 361, ../sass/_bp_narrow.scss */
html.lt-ie9 html x #navigation.mobilized #block-search-form {
  color: #444444;
  padding: 10px;
}
/* line 366, ../sass/_bp_narrow.scss */
html.lt-ie9 html x #nav-opener {
  border: 2px solid #4b2e84;
  border-right: 0px;
  max-width: 20%;
  font-size: 12px;
  position: absolute;
  z-index: 2;
  top: 40px;
  right: 0px;
  background-color: #e8e3d3;
  color: #444444;
  padding: 10px;
  -webkit-box-shadow: -10px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: -10px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: -10px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
/* line 381, ../sass/_bp_narrow.scss */
html.lt-ie9 html x #nav-opener:hover {
  cursor: pointer;
  background-color: #4b2e84;
  color: white;
  border: none;
  -webkit-box-shadow: -4px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: -4px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: -4px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
/* line 396, ../sass/_bp_narrow.scss */
html.lt-ie9 html x .adm-home-block {
  background-color: white;
  padding: 10px;
  border: 2px solid #4b2e84;
  height: 5em;
  margin-bottom: 1em;
}
/* line 402, ../sass/_bp_narrow.scss */
html.lt-ie9 html x .adm-home-block h2 {
  margin: 0;
  font-family: encode_sans_normal_light;
  line-height: 1.25em;
  font-size: 1.25em;
}
/* line 407, ../sass/_bp_narrow.scss */
html.lt-ie9 html x .adm-home-block h2 a:link, html.lt-ie9 html x .adm-home-block h2 a:visited {
  color: #4b2e84;
}
/* line 415, ../sass/_bp_narrow.scss */
html.lt-ie9 html x .adm-home-btn-pane ul {
  padding-left: 0;
  margin-top: 0;
}
/* line 418, ../sass/_bp_narrow.scss */
html.lt-ie9 html x .adm-home-btn-pane ul li {
  width: 100%;
  max-width: 100%;
}
/* line 421, ../sass/_bp_narrow.scss */
html.lt-ie9 html x .adm-home-btn-pane ul li .uw-btn {
  margin-right: 0;
  width: 80%;
}
/* line 432, ../sass/_bp_narrow.scss */
html.lt-ie9 html x body {
  background-color: navy;
}

/******************************************************************************/
/********************** MEDIUM BREAKPOINT *******************************/
/* line 182, ../sass/_base.scss */
html {
  /*
  * Medium has most of the goods.  Widest just adds a bit.
  */
}
@media only screen and (min-width: 725px) {
  /* line 182, ../sass/_base.scss */
  html {
    /*******************************************************************************
    ******************************* DEBUGGING ***********************************
    *******************************************************************************/
  }
  /* line 3, ../sass/_bp_medium.scss */
  html body #navigation {
    position: absolute;
    width: 100%;
    top: 90px;
    left: 0px;
    z-index: 2;
    background-color: #4b2e84;
    height: 50px;
    /* The overall height of the main purple menu */
    padding-right: 0;
    /* Helping keep the magnifying glass in the nav bar */
    /* Setting heights on the menu elements allows for vertical centering */
  }
  /* line 12, ../sass/_bp_medium.scss */
  html body #navigation .region-navigation {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 28, ../sass/_bp_medium.scss */
  html body #navigation .region,
  html body #navigation li,
  html body #navigation .outerContainer,
  html body #navigation .innerContainer,
  html body #navigation .menu-block-wrapper,
  html body #navigation .block-menu-block,
  html body #navigation .menu {
    height: 100%;
  }
  /* line 33, ../sass/_bp_medium.scss */
  html body #navigation .region #block-search-form {
    position: absolute;
    top: 10px;
    /* This vertically aligns the search form...might be too hard-codey though... */
    right: 10px;
    width: 150px;
  }
  /* line 38, ../sass/_bp_medium.scss */
  html body #navigation .region #block-search-form #edit-submit {
    background: url(../images/search-icon-large.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    text-indent: -999px;
    overflow: hidden;
    border: none;
  }
  /* line 51, ../sass/_bp_medium.scss */
  html body #navigation .region #block-search-form input[type="text"] {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  /* line 58, ../sass/_bp_medium.scss */
  html body #navigation .region .menu li {
    vertical-align: middle;
    /* The flyout menu items */
  }
  /* line 60, ../sass/_bp_medium.scss */
  html body #navigation .region .menu li .outerContainer {
    display: table;
  }
  /* line 62, ../sass/_bp_medium.scss */
  html body #navigation .region .menu li .outerContainer .innerContainer {
    /* We hover on the innerContainer */
    display: table-cell;
    vertical-align: middle;
  }
  /* line 65, ../sass/_bp_medium.scss */
  html body #navigation .region .menu li .outerContainer .innerContainer a:link, html body #navigation .region .menu li .outerContainer .innerContainer a:visited {
    color: white;
    text-transform: uppercase;
    font-family: encode_sans_normal_bold;
    font-size: 0.7em;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
  }
  /* line 73, ../sass/_bp_medium.scss */
  html body #navigation .region .menu li .outerContainer .innerContainer a:link:after, html body #navigation .region .menu li .outerContainer .innerContainer a:visited:after {
    content: "";
    width: 8px;
    height: 20px;
    top: 16px;
    background: url("../images/slash.svg") no-repeat;
    position: absolute;
    margin-left: 12px;
  }
  /* line 83, ../sass/_bp_medium.scss */
  html body #navigation .region .menu li .outerContainer .innerContainer:hover {
    /* We hover on the .innerContainer */
  }
  /* line 85, ../sass/_bp_medium.scss */
  html body #navigation .region .menu li .outerContainer .innerContainer:hover > .element a:link, html body #navigation .region .menu li .outerContainer .innerContainer:hover > .element a:visited {
    color: #e8e3d3;
  }
  /* line 89, ../sass/_bp_medium.scss */
  html body #navigation .region .menu li .outerContainer .innerContainer:hover .menu {
    visibility: visible;
    opacity: 1;
  }
  /* line 97, ../sass/_bp_medium.scss */
  html body #navigation .region .menu li .menu {
    border-top: 11px solid #4b2e84;
    background-color: #b7a57a;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0.2s linear, opacity 0.2s linear;
    -moz-transition: visibility 0.2s linear, opacity 0.2s linear;
    -o-transition: visibility 0.2s linear, opacity 0.2s linear;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  /* line 112, ../sass/_bp_medium.scss */
  html body #navigation .region .menu li .menu li {
    padding: 0px;
    float: none;
    background-color: #b7a57a;
  }
  /* line 119, ../sass/_bp_medium.scss */
  html body #navigation .region .menu li .menu li .outerContainer .innerContainer .element a:link, html body #navigation .region .menu li .menu li .outerContainer .innerContainer .element a:visited {
    color: white;
    padding-left: 5px;
  }
  /* line 130, ../sass/_bp_medium.scss */
  html body #navigation .region .menu li.first .outerContainer .innerContainer a:link, html body #navigation .region .menu li.first .outerContainer .innerContainer a:visited {
    margin-left: 0;
  }
  /* line 134, ../sass/_bp_medium.scss */
  html body #navigation .region .menu li.last .outerContainer .innerContainer {
    /* Don't put a slash on the last item */
  }
  /* line 137, ../sass/_bp_medium.scss */
  html body #navigation .region .menu li.last .outerContainer .innerContainer a:link:after, html body #navigation .region .menu li.last .outerContainer .innerContainer a:visited:after {
    width: 0px;
    /* This hides the slash */
  }
  /* line 146, ../sass/_bp_medium.scss */
  html body #navigation .search-toggle.open {
    width: 30px;
    height: 30px;
    margin-top: 10px;
  }
  /* line 150, ../sass/_bp_medium.scss */
  html body #navigation .search-toggle.open:hover {
    cursor: pointer;
  }
  /* line 157, ../sass/_bp_medium.scss */
  html body #nav-opener, html body #nav-closer {
    display: none;
  }
  /* line 164, ../sass/_bp_medium.scss */
  html body {
    background-color: maroon;
  }
}
/* line 186, ../sass/_base.scss */
html.lt-ie9 html {
  /*******************************************************************************
  ******************************* DEBUGGING ***********************************
  *******************************************************************************/
}
/* line 3, ../sass/_bp_medium.scss */
html.lt-ie9 html body #navigation {
  position: absolute;
  width: 100%;
  top: 90px;
  left: 0px;
  z-index: 2;
  background-color: #4b2e84;
  height: 50px;
  /* The overall height of the main purple menu */
  padding-right: 0;
  /* Helping keep the magnifying glass in the nav bar */
  /* Setting heights on the menu elements allows for vertical centering */
}
/* line 12, ../sass/_bp_medium.scss */
html.lt-ie9 html body #navigation .region-navigation {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* line 28, ../sass/_bp_medium.scss */
html.lt-ie9 html body #navigation .region,
html.lt-ie9 html body #navigation li,
html.lt-ie9 html body #navigation .outerContainer,
html.lt-ie9 html body #navigation .innerContainer,
html.lt-ie9 html body #navigation .menu-block-wrapper,
html.lt-ie9 html body #navigation .block-menu-block,
html.lt-ie9 html body #navigation .menu {
  height: 100%;
}
/* line 33, ../sass/_bp_medium.scss */
html.lt-ie9 html body #navigation .region #block-search-form {
  position: absolute;
  top: 10px;
  /* This vertically aligns the search form...might be too hard-codey though... */
  right: 10px;
  width: 150px;
}
/* line 38, ../sass/_bp_medium.scss */
html.lt-ie9 html body #navigation .region #block-search-form #edit-submit {
  background: url(../images/search-icon-large.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
  text-indent: -999px;
  overflow: hidden;
  border: none;
}
/* line 51, ../sass/_bp_medium.scss */
html.lt-ie9 html body #navigation .region #block-search-form input[type="text"] {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 58, ../sass/_bp_medium.scss */
html.lt-ie9 html body #navigation .region .menu li {
  vertical-align: middle;
  /* The flyout menu items */
}
/* line 60, ../sass/_bp_medium.scss */
html.lt-ie9 html body #navigation .region .menu li .outerContainer {
  display: table;
}
/* line 62, ../sass/_bp_medium.scss */
html.lt-ie9 html body #navigation .region .menu li .outerContainer .innerContainer {
  /* We hover on the innerContainer */
  display: table-cell;
  vertical-align: middle;
}
/* line 65, ../sass/_bp_medium.scss */
html.lt-ie9 html body #navigation .region .menu li .outerContainer .innerContainer a:link, html.lt-ie9 html body #navigation .region .menu li .outerContainer .innerContainer a:visited {
  color: white;
  text-transform: uppercase;
  font-family: encode_sans_normal_bold;
  font-size: 0.7em;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}
/* line 73, ../sass/_bp_medium.scss */
html.lt-ie9 html body #navigation .region .menu li .outerContainer .innerContainer a:link:after, html.lt-ie9 html body #navigation .region .menu li .outerContainer .innerContainer a:visited:after {
  content: "";
  width: 8px;
  height: 20px;
  top: 16px;
  background: url("../images/slash.svg") no-repeat;
  position: absolute;
  margin-left: 12px;
}
/* line 83, ../sass/_bp_medium.scss */
html.lt-ie9 html body #navigation .region .menu li .outerContainer .innerContainer:hover {
  /* We hover on the .innerContainer */
}
/* line 85, ../sass/_bp_medium.scss */
html.lt-ie9 html body #navigation .region .menu li .outerContainer .innerContainer:hover > .element a:link, html.lt-ie9 html body #navigation .region .menu li .outerContainer .innerContainer:hover > .element a:visited {
  color: #e8e3d3;
}
/* line 89, ../sass/_bp_medium.scss */
html.lt-ie9 html body #navigation .region .menu li .outerContainer .innerContainer:hover .menu {
  visibility: visible;
  opacity: 1;
}
/* line 97, ../sass/_bp_medium.scss */
html.lt-ie9 html body #navigation .region .menu li .menu {
  border-top: 11px solid #4b2e84;
  background-color: #b7a57a;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0.2s linear, opacity 0.2s linear;
  -moz-transition: visibility 0.2s linear, opacity 0.2s linear;
  -o-transition: visibility 0.2s linear, opacity 0.2s linear;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 112, ../sass/_bp_medium.scss */
html.lt-ie9 html body #navigation .region .menu li .menu li {
  padding: 0px;
  float: none;
  background-color: #b7a57a;
}
/* line 119, ../sass/_bp_medium.scss */
html.lt-ie9 html body #navigation .region .menu li .menu li .outerContainer .innerContainer .element a:link, html.lt-ie9 html body #navigation .region .menu li .menu li .outerContainer .innerContainer .element a:visited {
  color: white;
  padding-left: 5px;
}
/* line 130, ../sass/_bp_medium.scss */
html.lt-ie9 html body #navigation .region .menu li.first .outerContainer .innerContainer a:link, html.lt-ie9 html body #navigation .region .menu li.first .outerContainer .innerContainer a:visited {
  margin-left: 0;
}
/* line 134, ../sass/_bp_medium.scss */
html.lt-ie9 html body #navigation .region .menu li.last .outerContainer .innerContainer {
  /* Don't put a slash on the last item */
}
/* line 137, ../sass/_bp_medium.scss */
html.lt-ie9 html body #navigation .region .menu li.last .outerContainer .innerContainer a:link:after, html.lt-ie9 html body #navigation .region .menu li.last .outerContainer .innerContainer a:visited:after {
  width: 0px;
  /* This hides the slash */
}
/* line 146, ../sass/_bp_medium.scss */
html.lt-ie9 html body #navigation .search-toggle.open {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}
/* line 150, ../sass/_bp_medium.scss */
html.lt-ie9 html body #navigation .search-toggle.open:hover {
  cursor: pointer;
}
/* line 157, ../sass/_bp_medium.scss */
html.lt-ie9 html body #nav-opener, html.lt-ie9 html body #nav-closer {
  display: none;
}
/* line 164, ../sass/_bp_medium.scss */
html.lt-ie9 html body {
  background-color: maroon;
}

/******************************************************************************/
/********************** WIDEST BREAKPOINT ********************************/
/* line 193, ../sass/_base.scss */
html {
  /*
  * Medium has most of the goods.  Widest just adds a bit.
  */
}
@media only screen and (min-width: 975px) {
  /* line 193, ../sass/_base.scss */
  html {
    /*******************************************************************************
    ******************************* DEBUGGING ***********************************
    *******************************************************************************/
  }
  /* line 7, ../sass/_bp_widest.scss */
  html body {
    background-color: #C9A0DC;
  }
}
/* line 197, ../sass/_base.scss */
html.lt-ie9 html {
  /*******************************************************************************
  ******************************* DEBUGGING ***********************************
  *******************************************************************************/
}
/* line 7, ../sass/_bp_widest.scss */
html.lt-ie9 html body {
  background-color: #C9A0DC;
}

/* Always apply these rules, regardless of breakpoint */
/* line 40, ../sass/uwtadmissions.scss */
body {
  font-family: open_sans_regular;
  color: white;
  background-color: transparent;
}
/* line 44, ../sass/uwtadmissions.scss */
body h1 {
  font-family: encode_sans_normal_bold;
  text-transform: uppercase;
  margin-top: 0;
}
