/*
Document   : uwtadmissions
Created on : May 13, 2015, 11:35:33 AM
Author     : jamesini
Description:
Purpose of the stylesheet follows.
*/
/*
TODO customize this sample style
Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
/* base has fonts, colors, and breakpoints.  It's an important one.*/
/************************************\
|********** COLORS, ETC. **********|
\************************************/
/*************************************\
|********** BREAKPOINTS **********|
\*************************************/
/*********************************************************************\
|********** ALPHA BACKGROUND COLORS (USED? NO?) **********|
\*********************************************************************/
/*************************************************\
|********** VERTICAL ALIGN CENTER **********|
\*************************************************/
/**************************************************************\
|********** Partials to be shared with all .scss files **********|
\**************************************************************/
/* If set up correctly, put the narrowest breakpoints on top, then the wider breakpoints below (in the code).*/
/******************************************************************************/
/******************* EXTRA NARROW BREAKPOINT *************************/
/* line 164, ../sass/_base.scss */
html {
  /*
  * Medium has most of the goods.  Widest just adds a bit.
  */
}
@media only screen and (min-width: 0px) {
  /* line 164, ../sass/_base.scss */
  html {
    /******************************************\
    |*********** SEARCH TOGGLER **********|
    \******************************************/
    /****************************************************\
    |********** SEARCH-N-NAV CONTAINER **********|
    \****************************************************/
    /******************************\
    |********** HEADER **********|
    \******************************/
    /**********************************************\
    |********** BANNER / SLIDESHOW **********|
    \**********************************************/
    /***************************\
    |********** MAIN **********|
    \***************************/
    /**********************************\
    |********** DEBUGGING **********|
    \**********************************/
  }
  /* line 2, ../sass/_bp_extra_narrow.scss */
  html body {
    overflow-x: hidden;
  }
  /* line 5, ../sass/_bp_extra_narrow.scss */
  html #page {
    position: relative;
    border-top: 20px solid #4b2e84;
    color: #444444;
  }
  /* line 12, ../sass/_bp_extra_narrow.scss */
  html #body-closer {
    display: none;
    width: 1px;
    background-color: rgba(0, 0, 0, 0);
  }
  /* line 16, ../sass/_bp_extra_narrow.scss */
  html #body-closer.shown {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    background-color: rgba(68, 68, 68, 0.75);
    z-index: 1;
  }
  /* line 31, ../sass/_bp_extra_narrow.scss */
  html #search-toggler {
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: #4b2e84;
    padding-left: 10px;
  }
  /* line 37, ../sass/_bp_extra_narrow.scss */
  html #search-toggler span {
    vertical-align: text-bottom;
  }
  /* line 40, ../sass/_bp_extra_narrow.scss */
  html #search-toggler:hover {
    cursor: pointer;
  }
  /* line 43, ../sass/_bp_extra_narrow.scss */
  html #search-toggler .icon {
    font-size: 30px;
    line-height: normal;
    margin: 0;
    padding: 0px 5px 0px 0px;
  }
  /* line 50, ../sass/_bp_extra_narrow.scss */
  html #search-toggler .icon:before {
    content: '\25A4';
  }
  /* line 54, ../sass/_bp_extra_narrow.scss */
  html #search-toggler.search-opened {
    position: fixed;
    z-index: 3;
    top: 0px;
    left: 0px;
  }
  /* line 60, ../sass/_bp_extra_narrow.scss */
  html #search-toggler.search-opened .icon:before {
    content: '\2297';
  }
  /* line 68, ../sass/_bp_extra_narrow.scss */
  html #search-toggler.headroom--pinned {
    position: fixed;
    top: 0px;
  }
  /* line 72, ../sass/_bp_extra_narrow.scss */
  html #search-toggler.headroom--top {
    position: relative;
    top: inherit;
  }
  /* line 75, ../sass/_bp_extra_narrow.scss */
  html #search-toggler.headroom--top.search-opened {
    position: fixed;
    top: 0px;
  }
  /* line 89, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav {
    position: absolute;
    left: 0;
    padding-left: 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    /***********************************************\
    |********** SHOWING NAVIGATION **********|
    \***********************************************/
    /***********************************\
    |********** NAVIGATION **********|
    \***********************************/
  }
  /* line 101, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav .region-search {
    color: #444444;
  }
  /* line 107, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav.show-search {
    top: 32px;
    z-index: 2;
    background-color: rgba(183, 165, 122, 0.93);
    color: white;
    width: 80%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  }
  /* line 116, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav.show-search h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: transparent;
  }
  /* line 121, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav.show-search #navigation {
    visibility: visible;
    padding-bottom: 1em;
  }
  /* line 124, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav.show-search #navigation ul {
    width: 100%;
    margin-top: 20px;
  }
  /* line 127, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav.show-search #navigation ul li {
    float: none;
    width: 100%;
    display: block;
    line-height: normal;
    margin-bottom: 0px;
    text-transform: uppercase;
    padding-left: 10px;
  }
  /* line 135, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav.show-search #navigation ul li a {
    width: 75%;
    margin-bottom: 10px;
  }
  /* line 138, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav.show-search #navigation ul li a.active {
    color: #4b2e84;
    background-color: #e8e3d3;
  }
  /* line 141, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav.show-search #navigation ul li a.active:before {
    background-color: lime;
  }
  /* line 147, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav.show-search #navigation ul ul {
    margin-top: 0px;
  }
  /* line 149, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav.show-search #navigation ul ul li {
    padding-left: 10px;
    padding-right: 3px;
  }
  /* line 152, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav.show-search #navigation ul ul li a {
    padding: 5px 10px;
    border-left: 2px solid #444444;
    background-color: #beb6ce;
  }
  /* line 154, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav.show-search #navigation ul ul li a.active:before {
    background-color: #e8e3d3;
  }
  /* line 162, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav.show-search #navigation ul ul li a.uw-btn:before {
    width: 40px;
    right: -38px;
  }
  /* line 167, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav.show-search #navigation ul ul li a.uw-btn:after {
    right: -43px;
  }
  /* line 178, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav.show-search #navigation ul ul ul li a.uw-btn:before {
    width: 40px;
    right: -32px;
  }
  /* line 182, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav.show-search #navigation ul ul ul li a.uw-btn:after {
    right: -36px;
  }
  /* line 192, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav.show-search #nav-closer {
    display: block;
  }
  /* line 197, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav .search-toggle {
    width: 40px;
    height: 40px;
    float: left;
  }
  /* line 202, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav #block-search-form {
    padding-top: 5px;
    margin-bottom: 0;
  }
  /* line 209, ../sass/_bp_extra_narrow.scss */
  html #search-n-nav #navigation {
    width: 100%;
    padding-left: 0;
    visibility: hidden;
  }
  /* line 220, ../sass/_bp_extra_narrow.scss */
  html #header {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 100%;
    background-color: black;
  }
  /* line 228, ../sass/_bp_extra_narrow.scss */
  html #header .block {
    margin-bottom: 0;
  }
  /* line 231, ../sass/_bp_extra_narrow.scss */
  html #header #header-block-w {
    margin: 10px 0px;
    width: 59.4px;
    height: 40px;
  }
  /* line 240, ../sass/_bp_extra_narrow.scss */
  html #header h1 {
    font-size: 110%;
    margin-bottom: 0;
    padding: 10px 0 10px 10px;
    background-color: #b7a57a;
    color: #FFF;
  }
  /* line 246, ../sass/_bp_extra_narrow.scss */
  html #header h1 a:link, html #header h1 a:visited {
    color: #FFF;
  }
  /* line 252, ../sass/_bp_extra_narrow.scss */
  html #nav-opener {
    position: relative;
    background-color: #4b2e84;
    z-index: 1;
    padding-left: 10px;
  }
  /* line 266, ../sass/_bp_extra_narrow.scss */
  html .region-banner h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 100%;
    line-height: normal;
    text-shadow: 1px 1px 1px black;
  }
  /* line 273, ../sass/_bp_extra_narrow.scss */
  html .region-banner p {
    font-size: 100%;
  }
  /* line 276, ../sass/_bp_extra_narrow.scss */
  html .region-banner .block {
    margin-bottom: 0;
  }
  /* line 279, ../sass/_bp_extra_narrow.scss */
  html .region-banner #banner-container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  /* line 283, ../sass/_bp_extra_narrow.scss */
  html .region-banner #banner-container #banner {
    overflow: auto;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  /* line 290, ../sass/_bp_extra_narrow.scss */
  html .region-banner #banner-container #banner ul {
    margin: 0;
    padding: 0;
  }
  /* line 293, ../sass/_bp_extra_narrow.scss */
  html .region-banner #banner-container #banner ul li {
    height: 200px;
    float: left;
    list-style: none;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* line 299, ../sass/_bp_extra_narrow.scss */
  html .region-banner #banner-container #banner ul li .adm-slide {
    height: 100%;
    margin: 0;
    background: url(../images/W_only_CMYK.png);
    background-size: 106px 72px;
    background-position: bottom 0px right 10px;
    background-repeat: no-repeat;
  }
  /* line 310, ../sass/_bp_extra_narrow.scss */
  html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content {
    font-size: 100%;
    position: relative;
    top: 15%;
    -webkit-transform: translateY(-15%);
    -ms-transform: translateY(-15%);
    transform: translateY(-15%);
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 70%;
    background-color: rgba(68, 68, 68, 0.25);
    border: 2px solid #FFF;
  }
  /* line 323, ../sass/_bp_extra_narrow.scss */
  html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content a:link, html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content a:visited {
    text-transform: uppercase;
    margin-top: 10px;
  }
  /* line 326, ../sass/_bp_extra_narrow.scss */
  html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content a:link:after, html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content a:visited:after {
    content: " \203A";
  }
  /* line 330, ../sass/_bp_extra_narrow.scss */
  html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content p, html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content a:visited, html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content a:link {
    font-weight: bold;
    text-shadow: 1px 1px 1px #444444;
    color: white;
    margin: 0;
    line-height: normal;
  }
  /* line 341, ../sass/_bp_extra_narrow.scss */
  html .region-banner #banner-container #banner .dots {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 0;
    list-style: none;
    padding: 0;
    margin: 0 0 0 10px;
    background-color: rgba(75, 46, 132, 0.9);
  }
  /* line 350, ../sass/_bp_extra_narrow.scss */
  html .region-banner #banner-container #banner .dots li {
    font-size: 100%;
    width: 30px;
    float: left;
    padding-left: 10px;
    margin-left: 2px;
    cursor: pointer;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  /* line 362, ../sass/_bp_extra_narrow.scss */
  html .region-banner #banner-container #banner .dots li.active {
    background-color: rgba(183, 165, 122, 0.75);
  }
  /* line 365, ../sass/_bp_extra_narrow.scss */
  html .region-banner #banner-container #banner .dots li:first-child {
    margin-left: 0px;
  }
  /* line 383, ../sass/_bp_extra_narrow.scss */
  html #main #content .adm-home-block {
    margin: 10px 0;
    border: 2px solid #4b2e84;
  }
  /* line 386, ../sass/_bp_extra_narrow.scss */
  html #main #content .adm-home-block h2 {
    margin-left: 10px;
    font-family: "uni_sans_light", Arial, sans-serif;
    color: #4b2e84;
  }
  /* line 390, ../sass/_bp_extra_narrow.scss */
  html #main #content .adm-home-block h2 a:link, html #main #content .adm-home-block h2 a:visited {
    font-family: "uni_sans_light", Arial, sans-serif;
    color: #4b2e84;
  }
}
/* line 168, ../sass/_base.scss */
html.lt-ie9 html {
  /******************************************\
  |*********** SEARCH TOGGLER **********|
  \******************************************/
  /****************************************************\
  |********** SEARCH-N-NAV CONTAINER **********|
  \****************************************************/
  /******************************\
  |********** HEADER **********|
  \******************************/
  /**********************************************\
  |********** BANNER / SLIDESHOW **********|
  \**********************************************/
  /***************************\
  |********** MAIN **********|
  \***************************/
  /**********************************\
  |********** DEBUGGING **********|
  \**********************************/
}
/* line 2, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html body {
  overflow-x: hidden;
}
/* line 5, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #page {
  position: relative;
  border-top: 20px solid #4b2e84;
  color: #444444;
}
/* line 12, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #body-closer {
  display: none;
  width: 1px;
  background-color: rgba(0, 0, 0, 0);
}
/* line 16, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #body-closer.shown {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: rgba(68, 68, 68, 0.75);
  z-index: 1;
}
/* line 31, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-toggler {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: #4b2e84;
  padding-left: 10px;
}
/* line 37, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-toggler span {
  vertical-align: text-bottom;
}
/* line 40, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-toggler:hover {
  cursor: pointer;
}
/* line 43, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-toggler .icon {
  font-size: 30px;
  line-height: normal;
  margin: 0;
  padding: 0px 5px 0px 0px;
}
/* line 50, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-toggler .icon:before {
  content: '\25A4';
}
/* line 54, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-toggler.search-opened {
  position: fixed;
  z-index: 3;
  top: 0px;
  left: 0px;
}
/* line 60, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-toggler.search-opened .icon:before {
  content: '\2297';
}
/* line 68, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-toggler.headroom--pinned {
  position: fixed;
  top: 0px;
}
/* line 72, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-toggler.headroom--top {
  position: relative;
  top: inherit;
}
/* line 75, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-toggler.headroom--top.search-opened {
  position: fixed;
  top: 0px;
}
/* line 89, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav {
  position: absolute;
  left: 0;
  padding-left: 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  /***********************************************\
  |********** SHOWING NAVIGATION **********|
  \***********************************************/
  /***********************************\
  |********** NAVIGATION **********|
  \***********************************/
}
/* line 101, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav .region-search {
  color: #444444;
}
/* line 107, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav.show-search {
  top: 32px;
  z-index: 2;
  background-color: rgba(183, 165, 122, 0.93);
  color: white;
  width: 80%;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
/* line 116, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav.show-search h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: transparent;
}
/* line 121, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav.show-search #navigation {
  visibility: visible;
  padding-bottom: 1em;
}
/* line 124, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav.show-search #navigation ul {
  width: 100%;
  margin-top: 20px;
}
/* line 127, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav.show-search #navigation ul li {
  float: none;
  width: 100%;
  display: block;
  line-height: normal;
  margin-bottom: 0px;
  text-transform: uppercase;
  padding-left: 10px;
}
/* line 135, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav.show-search #navigation ul li a {
  width: 75%;
  margin-bottom: 10px;
}
/* line 138, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav.show-search #navigation ul li a.active {
  color: #4b2e84;
  background-color: #e8e3d3;
}
/* line 141, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav.show-search #navigation ul li a.active:before {
  background-color: lime;
}
/* line 147, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav.show-search #navigation ul ul {
  margin-top: 0px;
}
/* line 149, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav.show-search #navigation ul ul li {
  padding-left: 10px;
  padding-right: 3px;
}
/* line 152, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav.show-search #navigation ul ul li a {
  padding: 5px 10px;
  border-left: 2px solid #444444;
  background-color: #beb6ce;
}
/* line 154, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav.show-search #navigation ul ul li a.active:before {
  background-color: #e8e3d3;
}
/* line 162, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav.show-search #navigation ul ul li a.uw-btn:before {
  width: 40px;
  right: -38px;
}
/* line 167, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav.show-search #navigation ul ul li a.uw-btn:after {
  right: -43px;
}
/* line 178, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav.show-search #navigation ul ul ul li a.uw-btn:before {
  width: 40px;
  right: -32px;
}
/* line 182, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav.show-search #navigation ul ul ul li a.uw-btn:after {
  right: -36px;
}
/* line 192, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav.show-search #nav-closer {
  display: block;
}
/* line 197, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav .search-toggle {
  width: 40px;
  height: 40px;
  float: left;
}
/* line 202, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav #block-search-form {
  padding-top: 5px;
  margin-bottom: 0;
}
/* line 209, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #search-n-nav #navigation {
  width: 100%;
  padding-left: 0;
  visibility: hidden;
}
/* line 220, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #header {
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 100%;
  background-color: black;
}
/* line 228, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #header .block {
  margin-bottom: 0;
}
/* line 231, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #header #header-block-w {
  margin: 10px 0px;
  width: 59.4px;
  height: 40px;
}
/* line 240, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #header h1 {
  font-size: 110%;
  margin-bottom: 0;
  padding: 10px 0 10px 10px;
  background-color: #b7a57a;
  color: #FFF;
}
/* line 246, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #header h1 a:link, html.lt-ie9 html #header h1 a:visited {
  color: #FFF;
}
/* line 252, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #nav-opener {
  position: relative;
  background-color: #4b2e84;
  z-index: 1;
  padding-left: 10px;
}
/* line 266, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html .region-banner h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 100%;
  line-height: normal;
  text-shadow: 1px 1px 1px black;
}
/* line 273, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html .region-banner p {
  font-size: 100%;
}
/* line 276, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html .region-banner .block {
  margin-bottom: 0;
}
/* line 279, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html .region-banner #banner-container {
  margin: 0;
  padding: 0;
  width: 100%;
}
/* line 283, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html .region-banner #banner-container #banner {
  overflow: auto;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/* line 290, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html .region-banner #banner-container #banner ul {
  margin: 0;
  padding: 0;
}
/* line 293, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html .region-banner #banner-container #banner ul li {
  height: 200px;
  float: left;
  list-style: none;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 299, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html .region-banner #banner-container #banner ul li .adm-slide {
  height: 100%;
  margin: 0;
  background: url(../images/W_only_CMYK.png);
  background-size: 106px 72px;
  background-position: bottom 0px right 10px;
  background-repeat: no-repeat;
}
/* line 310, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content {
  font-size: 100%;
  position: relative;
  top: 15%;
  -webkit-transform: translateY(-15%);
  -ms-transform: translateY(-15%);
  transform: translateY(-15%);
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 70%;
  background-color: rgba(68, 68, 68, 0.25);
  border: 2px solid #FFF;
}
/* line 323, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content a:link, html.lt-ie9 html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content a:visited {
  text-transform: uppercase;
  margin-top: 10px;
}
/* line 326, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content a:link:after, html.lt-ie9 html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content a:visited:after {
  content: " \203A";
}
/* line 330, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content p, html.lt-ie9 html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content a:visited, html.lt-ie9 html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content a:link {
  font-weight: bold;
  text-shadow: 1px 1px 1px #444444;
  color: white;
  margin: 0;
  line-height: normal;
}
/* line 341, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html .region-banner #banner-container #banner .dots {
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: 0;
  list-style: none;
  padding: 0;
  margin: 0 0 0 10px;
  background-color: rgba(75, 46, 132, 0.9);
}
/* line 350, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html .region-banner #banner-container #banner .dots li {
  font-size: 100%;
  width: 30px;
  float: left;
  padding-left: 10px;
  margin-left: 2px;
  cursor: pointer;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
/* line 362, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html .region-banner #banner-container #banner .dots li.active {
  background-color: rgba(183, 165, 122, 0.75);
}
/* line 365, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html .region-banner #banner-container #banner .dots li:first-child {
  margin-left: 0px;
}
/* line 383, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #main #content .adm-home-block {
  margin: 10px 0;
  border: 2px solid #4b2e84;
}
/* line 386, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #main #content .adm-home-block h2 {
  margin-left: 10px;
  font-family: "uni_sans_light", Arial, sans-serif;
  color: #4b2e84;
}
/* line 390, ../sass/_bp_extra_narrow.scss */
html.lt-ie9 html #main #content .adm-home-block h2 a:link, html.lt-ie9 html #main #content .adm-home-block h2 a:visited {
  font-family: "uni_sans_light", Arial, sans-serif;
  color: #4b2e84;
}

/******************************************************************************/
/************************* NARROW BREAKPOINT ***************************/
/* line 175, ../sass/_base.scss */
html {
  /*
  * Medium has most of the goods.  Widest just adds a bit.
  */
}
@media only screen and (min-width: 411px) {
  /* line 175, ../sass/_base.scss */
  html {
    /*****************************************\
    |********** SEARCH TOGGLER **********|
    \*****************************************/
    /****************************************************************\
    |********** SEARCH AND NAVIGATION CONTAINER *********|
    \****************************************************************/
    /******************************\
    |********** HEADER **********|
    \******************************/
    /***************************\
    |********** PAGE **********|
    \***************************/
    /*******************************************************************************
    ******************************* DEBUGGING ***********************************
    *******************************************************************************/
  }
  /* line 4, ../sass/_bp_narrow.scss */
  html body {
    overflow-x: hidden;
  }
  /* line 13, ../sass/_bp_narrow.scss */
  html #search-toggler {
    z-index: 2;
  }
  /* line 19, ../sass/_bp_narrow.scss */
  html #search-toggler .icon {
    font-size: 30px;
    line-height: 27px;
    position: absolute;
    right: 10px;
    top: 0px;
  }
  /* line 30, ../sass/_bp_narrow.scss */
  html #search-toggler.search-opened {
    position: fixed;
    z-index: 3;
  }
  /* line 33, ../sass/_bp_narrow.scss */
  html #search-toggler.search-opened .icon {
    font-size: 35px;
    line-height: 28px;
  }
  /* line 36, ../sass/_bp_narrow.scss */
  html #search-toggler.search-opened .icon:before {
    content: '\2297';
  }
  /* line 49, ../sass/_bp_narrow.scss */
  html #search-n-nav.show-search h2 {
    font-size: 30px;
    line-height: 30px;
  }
  /* line 56, ../sass/_bp_narrow.scss */
  html #search-n-nav #search {
    padding-top: 10px;
    color: #444444;
  }
  /* line 62, ../sass/_bp_narrow.scss */
  html #search-n-nav #navigation {
    position: relative;
    top: 20px;
    height: 100%;
  }
  /* line 67, ../sass/_bp_narrow.scss */
  html #search-n-nav #navigation .menu li {
    float: none;
  }
  /* line 73, ../sass/_bp_narrow.scss */
  html #search-n-nav #navigation .menu .menu li {
    padding-left: 2em;
  }
  /* line 86, ../sass/_bp_narrow.scss */
  html #header {
    /********************************************\
    |********** BANNER / UNSLIDER **********|
    \********************************************/
  }
  /* line 90, ../sass/_bp_narrow.scss */
  html #header .block h1 {
    font-size: 25px;
  }
  /* line 100, ../sass/_bp_narrow.scss */
  html #header #banner ul {
    overflow: auto;
    position: relative;
  }
  /* line 103, ../sass/_bp_narrow.scss */
  html #header #banner ul li {
    height: 100%;
  }
  /* line 105, ../sass/_bp_narrow.scss */
  html #header #banner ul li .adm-slide {
    background-color: #444444;
  }
  /* line 107, ../sass/_bp_narrow.scss */
  html #header #banner ul li .adm-slide .adm-slide-content {
    width: 60%;
    height: 60%;
    border: 1px solid white;
    background-color: rgba(217, 217, 217, 0.5);
    padding: 10px;
  }
  /* line 113, ../sass/_bp_narrow.scss */
  html #header #banner ul li .adm-slide .adm-slide-content * {
    color: white;
    text-shadow: 1px 1px 1px black;
  }
  /* line 117, ../sass/_bp_narrow.scss */
  html #header #banner ul li .adm-slide .adm-slide-content h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
  }
  /* line 123, ../sass/_bp_narrow.scss */
  html #header #banner ul li .adm-slide .adm-slide-content p {
    font-size: 17px;
    line-height: 17px;
  }
  /* line 138, ../sass/_bp_narrow.scss */
  html #page #main {
    margin-top: 0;
    padding-top: 0;
  }
  /* line 141, ../sass/_bp_narrow.scss */
  html #page #main #page-title {
    color: #444444;
  }
  /* line 155, ../sass/_bp_narrow.scss */
  html body {
    background-color: navy;
  }
}
/* line 179, ../sass/_base.scss */
html.lt-ie9 html {
  /*****************************************\
  |********** SEARCH TOGGLER **********|
  \*****************************************/
  /****************************************************************\
  |********** SEARCH AND NAVIGATION CONTAINER *********|
  \****************************************************************/
  /******************************\
  |********** HEADER **********|
  \******************************/
  /***************************\
  |********** PAGE **********|
  \***************************/
  /*******************************************************************************
  ******************************* DEBUGGING ***********************************
  *******************************************************************************/
}
/* line 4, ../sass/_bp_narrow.scss */
html.lt-ie9 html body {
  overflow-x: hidden;
}
/* line 13, ../sass/_bp_narrow.scss */
html.lt-ie9 html #search-toggler {
  z-index: 2;
}
/* line 19, ../sass/_bp_narrow.scss */
html.lt-ie9 html #search-toggler .icon {
  font-size: 30px;
  line-height: 27px;
  position: absolute;
  right: 10px;
  top: 0px;
}
/* line 30, ../sass/_bp_narrow.scss */
html.lt-ie9 html #search-toggler.search-opened {
  position: fixed;
  z-index: 3;
}
/* line 33, ../sass/_bp_narrow.scss */
html.lt-ie9 html #search-toggler.search-opened .icon {
  font-size: 35px;
  line-height: 28px;
}
/* line 36, ../sass/_bp_narrow.scss */
html.lt-ie9 html #search-toggler.search-opened .icon:before {
  content: '\2297';
}
/* line 49, ../sass/_bp_narrow.scss */
html.lt-ie9 html #search-n-nav.show-search h2 {
  font-size: 30px;
  line-height: 30px;
}
/* line 56, ../sass/_bp_narrow.scss */
html.lt-ie9 html #search-n-nav #search {
  padding-top: 10px;
  color: #444444;
}
/* line 62, ../sass/_bp_narrow.scss */
html.lt-ie9 html #search-n-nav #navigation {
  position: relative;
  top: 20px;
  height: 100%;
}
/* line 67, ../sass/_bp_narrow.scss */
html.lt-ie9 html #search-n-nav #navigation .menu li {
  float: none;
}
/* line 73, ../sass/_bp_narrow.scss */
html.lt-ie9 html #search-n-nav #navigation .menu .menu li {
  padding-left: 2em;
}
/* line 86, ../sass/_bp_narrow.scss */
html.lt-ie9 html #header {
  /********************************************\
  |********** BANNER / UNSLIDER **********|
  \********************************************/
}
/* line 90, ../sass/_bp_narrow.scss */
html.lt-ie9 html #header .block h1 {
  font-size: 25px;
}
/* line 100, ../sass/_bp_narrow.scss */
html.lt-ie9 html #header #banner ul {
  overflow: auto;
  position: relative;
}
/* line 103, ../sass/_bp_narrow.scss */
html.lt-ie9 html #header #banner ul li {
  height: 100%;
}
/* line 105, ../sass/_bp_narrow.scss */
html.lt-ie9 html #header #banner ul li .adm-slide {
  background-color: #444444;
}
/* line 107, ../sass/_bp_narrow.scss */
html.lt-ie9 html #header #banner ul li .adm-slide .adm-slide-content {
  width: 60%;
  height: 60%;
  border: 1px solid white;
  background-color: rgba(217, 217, 217, 0.5);
  padding: 10px;
}
/* line 113, ../sass/_bp_narrow.scss */
html.lt-ie9 html #header #banner ul li .adm-slide .adm-slide-content * {
  color: white;
  text-shadow: 1px 1px 1px black;
}
/* line 117, ../sass/_bp_narrow.scss */
html.lt-ie9 html #header #banner ul li .adm-slide .adm-slide-content h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 20px;
}
/* line 123, ../sass/_bp_narrow.scss */
html.lt-ie9 html #header #banner ul li .adm-slide .adm-slide-content p {
  font-size: 17px;
  line-height: 17px;
}
/* line 138, ../sass/_bp_narrow.scss */
html.lt-ie9 html #page #main {
  margin-top: 0;
  padding-top: 0;
}
/* line 141, ../sass/_bp_narrow.scss */
html.lt-ie9 html #page #main #page-title {
  color: #444444;
}
/* line 155, ../sass/_bp_narrow.scss */
html.lt-ie9 html body {
  background-color: navy;
}

/******************************************************************************/
/********************** MEDIUM BREAKPOINT *******************************/
/* line 186, ../sass/_base.scss */
html {
  /*
  * Medium has most of the goods.  Widest just adds a bit.
  */
}
@media only screen and (min-width: 725px) {
  /* line 186, ../sass/_base.scss */
  html {
    /********************************************
    ********** BANNER / UNSLIDER **********
    ********************************************/
    /*******************************************************************************
    ******************************* DEBUGGING ***********************************
    *******************************************************************************/
  }
  /* line 11, ../sass/_bp_medium.scss */
  html .region-banner #banner-container #banner ul li {
    height: 500px;
  }
  /* line 14, ../sass/_bp_medium.scss */
  html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content {
    font-size: 200%;
  }
  /* line 29, ../sass/_bp_medium.scss */
  html body {
    background-color: maroon;
  }
}
/* line 190, ../sass/_base.scss */
html.lt-ie9 html {
  /********************************************
  ********** BANNER / UNSLIDER **********
  ********************************************/
  /*******************************************************************************
  ******************************* DEBUGGING ***********************************
  *******************************************************************************/
}
/* line 11, ../sass/_bp_medium.scss */
html.lt-ie9 html .region-banner #banner-container #banner ul li {
  height: 500px;
}
/* line 14, ../sass/_bp_medium.scss */
html.lt-ie9 html .region-banner #banner-container #banner ul li .adm-slide .adm-slide-content {
  font-size: 200%;
}
/* line 29, ../sass/_bp_medium.scss */
html.lt-ie9 html body {
  background-color: maroon;
}

/******************************************************************************/
/********************** WIDEST BREAKPOINT ********************************/
/* line 197, ../sass/_base.scss */
html {
  /*
  * Medium has most of the goods.  Widest just adds a bit.
  */
}
@media only screen and (min-width: 975px) {
  /* line 197, ../sass/_base.scss */
  html {
    /*******************************************************************************
    ******************************* DEBUGGING ***********************************
    *******************************************************************************/
  }
  /* line 7, ../sass/_bp_widest.scss */
  html body {
    background-color: #C9A0DC;
  }
}
/* line 201, ../sass/_base.scss */
html.lt-ie9 html {
  /*******************************************************************************
  ******************************* DEBUGGING ***********************************
  *******************************************************************************/
}
/* line 7, ../sass/_bp_widest.scss */
html.lt-ie9 html body {
  background-color: #C9A0DC;
}

/* Always apply these rules, regardless of breakpoint */
/* line 40, ../sass/uwtadmissions.scss */
body {
  font-family: open_sans_regular;
  color: white;
  background-color: transparent;
}
/* line 44, ../sass/uwtadmissions.scss */
body h1 {
  font-family: encode_sans_normal_bold;
  text-transform: uppercase;
  margin-top: 0;
}
