@include narrow{


  body{
    overflow-x: hidden;
  }


  /*****************************************\
  |********** NAV TOGGLER **********|
  \*****************************************/

  #nav-toggler {
    /*
    z-index: 2;
    */
    span{
    }
    &:hover{
    }
    .icon{
      /*
      font-size: 30px;
      line-height: 27px;
      position: absolute;
      right: 10px;
      top: 0px;
      */
    }
    .icon{
      &:before{
      }
    }
    &.nav-opened{ // nav-wrapper is opened
      /*
      position: fixed;
      z-index: 3;
      .icon{
      font-size: 35px;
      line-height: 28px;
      &:before{
      content:'\2297';
      }
      }
      */
    }
  }

  /****************************************************************\
  |********** SEARCH AND NAVIGATION CONTAINER *********|
  \****************************************************************/
  #nav-wrapper{ // Search Closed

    &.show-navigation{ // Search Opened
      h2{
        font-size: 30px;
        line-height: 30px;
      }
      #navigation{
      }
    }
    #search-wrapper{
      padding-top: 10px;
      color: $grey_dark;
      .block{
      }
    }
    #navigation{
      position: relative;
      top: 20px;
      height: 100%;
      .menu{
        li{
          float: none;
          a{
          }
        }
        .menu{
          li{
            padding-left:2em;
            a{
            }
          }
        }
      }
    }
  }

  /******************************\
  |********** HEADER **********|
  \******************************/
  #header{
    //background-color: rgba($grey_dark, 0.93);
    //margin-top:32px; // <- matches height of #nav-toggler
    .block{
      h1{
        font-size: 25px;
      }
    }

    /********************************************\
    |********** BANNER / UNSLIDER **********|
    \********************************************/

    #banner{
      ul{
        overflow: auto;
        position: relative;
        li{
          height: 100%;
          .adm-slide{
            background-color: rgba($grey_dark,1);
            .adm-slide-content{
              width: 60%;
              height: 60%;
              border: 1px solid white;
              background-color: rgba($grey_light, 0.5);
              padding: 10px;
              *{
                color:white;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
              }
              h2{
                margin-top:0;
                margin-bottom: 0;
                font-size: 20px;
                line-height: 20px;
              }
              p{
                font-size: 17px;
                line-height: 17px;
              }
            }
          }
        }
      }
    } // End #banner

  }
  /***************************\
  |********** PAGE **********|
  \***************************/
  #page{
    #main{
      margin-top:0;
      padding-top:0;
      #page-title{
        color: $grey_dark;
      }
    }
    .block{
    }
  }




  /*******************************************************************************
  ******************************* DEBUGGING ***********************************
  *******************************************************************************/
  body {
    background-color:navy; // Narrow = Navy
  }
} ///////// End of narrow breakpoint

