@include medium{


  /********************************************
  ********** BANNER / UNSLIDER **********
  ********************************************/
  .region-banner{
    #banner-container{
      #banner{
        ul{
          li{
            height: 500px;
            .adm-slide{
              .adm-slide-content{
                font-size: 200%;
              }
            }
          }
        }
      }
    }
  }



  /*******************************************************************************
  ******************************* DEBUGGING ***********************************
  *******************************************************************************/
  body {
    background-color:maroon; // Maroon = medium
  }
} // /@mixin medium
