@include narrow{






  /******************************\
  |********** HEADER **********|
  \******************************/
  #header{
    }

    /********************************************\
    |********** BANNER / UNSLIDER **********|
    \********************************************/

    #banner{
      ul{
        overflow: auto;
        position: relative;
        li{
          height: 400px;
          .adm-slide{
            background-color: rgba($grey_dark,1);
            .adm-slide-content{
              max-width: 50%;
              max-height: 50%;
              border: 1px solid white;
              background-color: rgba($grey_light, 0.5);
              padding: 10px;
              *{
                color:white;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
              }
              h2{
                margin-top:0;
                margin-bottom: 0;
                font-size: 20px;
                line-height: 20px;
              }
              p{
                font-size: 17px;
                line-height: 17px;
              }
            }
          }
        }
      }
    } // End #banner

  
  /***************************\
  |********** PAGE **********|
  \***************************/
  #page{
    #main{
      margin-top:0;
      padding-top:0;
      #page-title{
        color: $grey_dark;
      }
    }
    .block{
    }
  }




  /*******************************************************************************
  ******************************* DEBUGGING ***********************************
  *******************************************************************************/
  @if $debug{
  body {
    background-color:navy; // Narrow = Navy
    *{
      color: #fff;
    }
  }
}

} ///////// End of narrow breakpoint

