@include extra_narrow{
  body{
    overflow-x:hidden;
  }
  #page{
    position: relative;
  }

  #search-toggler{
    position: fixed;
    z-index: 1;
    width: 100%;
    height:2em; // <-- matches top of #header
    background-color:$purple;
    padding-left:10px;
    &:hover{
      cursor:pointer;
    }
    .icon{
      font-size:30px;
      line-height: 30px;
      margin:0;
      padding:0px 5px 0px 0px;
    }
    .icon{
      &:before{
        content:'\25A4';
      }
    }
    &.search-opened{

      .icon{
        &:before{
          content:'\22A0';
        }
      }
    }
  }








  /******************************
  ********** SEARCH **********
  ******************************/
  #search{
    position:fixed;
    top:-100%;
    left:0;
    padding-left:10px;
    width:100%;
    height:100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    .region-search{
      color:$grey_dark;
    }
    &.show-search{
      top:2em;
      z-index: 2;
      background-color: $grey_dark;
      color: white;

      /***********************************************
      ********** SHOWING NAVIGATION **********
      ***********************************************/
      #navigation{
        visibility: visible;
        ul{
          width: 100%;
          margin-top: 20px;
          li{
            float: none;
            width:100%;
            border-bottom: 1px solid $grey_light;
            display: block;
            height: 3em;
            line-height: 3em;
            background-color: $gold;
            margin-bottom: 10px;
            text-transform: uppercase;
            padding-left: 10px;
            a{
              width:86%;
            }
          }
          ul{
            display: none;
          }
        }
      }
      #nav-closer{
        display: block;
      }

    }
    .search-toggle{
      width: 40px;
      height: 40px;
      float: left;
    }
    #block-search-form{
      padding-top: 5px;
      margin-bottom: 0;
    }
    /***********************************
    ********** NAVIGATION **********
    ***********************************/
    #navigation{
      width: 100%;
      padding-left:0;
      visibility: hidden;
      &.mobilized{
        position:absolute;
        top:60px;
        left:0;
        height:30px;
        width:100%;
        padding:0;
        background-color:$purple;
        ul{
          li{
            display:none;
            ul{
              display:none;
            }
          }

        }

        #nav-closer{
          display: none;
        }
      }
    }
  }

  /******************************
  ********** HEADER **********
  ******************************/

  #header{

    position:relative;
    top:2em; // <-- matches height of #search-toggler
    height:100px;
    width:100%;
    background-color:black;
    .block{
      margin-bottom: 0;
    }
    h1{
      font-size:1em;
      margin-bottom:0;
      padding-bottom: 0;
    }
  }



  #nav-opener{
    position:relative;
    background-color:$purple;
    z-index: 1;
    padding-left: 10px;
  }




  /**********************************************
  ********** BANNER / SLIDESHOW **********
  **********************************************/
  .region-banner{
    h2{
      margin-top:10px;
      margin-bottom: 10px;
      font-size: 1.25em;
      line-height: 1.25em;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    }
    // tmp
    //position:absolute;
    // top:90px;
    // /tmp
    .block{
      margin-bottom:0;
    }
    #banner-container{
      // tmp
      //position:absolute;
      //top:0;
      //left:0;
      // /tmp
      margin:0;
      padding:0;
      width:100%;
      #banner{
        overflow:auto;
        position:relative;
        top:0;
        left:0;
        height:100%;
        width:100%;
        ul{

          margin:0;
          padding:0;
          li{

            height:250px;
            float: left;
            list-style: none;
            background-repeat: no-repeat;
            background-size: cover;
            .adm-slide{

              .adm-slide-content{
                padding-left: 10px;
                padding-right: 10px;
                a:link, a:visited{
                  text-transform: uppercase;
                  margin-top:10px;
                  &:after{
                    content: " \203A";
                  }
                }
                p, a:visited, a:link{
                  font-weight: bold;
                  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
                  color:white;
                  margin: 0;
                }

              }
            }
          }
        }
      }
    }
  }

  /***************************
  ********** MAIN **********
  ***************************/

  #main{
    #content{
      #page-title{
        display:none;
      }
    }
  }

  /**********************************
  ********** DEBUGGING **********
  **********************************/
  body{
    background-color:#50C878; // Extra Narrow = Emerald
  }

  ///////////// End @include extra_narrow

} ///////////////////////////////////////
