@include extra_narrow{
  body{
    overflow-x:hidden;
  }
  #page{
    position: relative;
    border-top:20px solid $purple;
    color: $grey_dark;
  }

  // #body-closer is the element that can be clicked on to close the navigation
  #body-closer{
    display:none;
    width: 1px;
    background-color:rgba(0,0,0,0.0);
    &.shown{
      display:block;
      position: fixed;
      width:100%;
      height:100%;
      right:0;
      top: 0;
      background-color: rgba($grey_light,0.93);
      z-index:1;
    }
  }

  /******************************************\
  |*********** SEARCH TOGGLER **********|
  \******************************************/
  #search-toggler{
    position: relative;
    z-index: 1;
    width: 100%;
    background-color:$purple;
    padding-left:10px;
    span{
      vertical-align: text-bottom;
    }
    &:hover{
      cursor:pointer;
    }
    .icon{
      font-size:30px;
      line-height: normal;
      margin:0;
      padding:0px 5px 0px 0px;
    }
    .icon{
      &:before{
        content:'\25A4';
      }
    }
    &.search-opened{
      position: fixed;
      z-index:3;
      top: 0px;
      left: 0px;
      .icon{
        &:before{
          content:'\2297';
        }
      }
    }
    &.headroom{

    }
    &.headroom--pinned{
      position: fixed;
      top: 0px;
    }
    &.headroom--top{
      position: relative;
      top: inherit;
      &.search-opened{
        position: fixed;
        top: 0px;
      }
    }
    &.headroom--unpinned{

    }
  }








  /****************************************************\
  |********** SEARCH-N-NAV CONTAINER **********|
  \****************************************************/
  #search-n-nav{
    position:absolute;
    //top:-100%;
    left:0;
    padding-left:10px;
    //width:100%;
    //height:100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    .region-search{
      color:$grey_dark;
    }
    /***********************************************\
    |********** SHOWING NAVIGATION **********|
    \***********************************************/
    &.show-search{
      //top:40px;  // -> matches font-size and line-height on #search-toggler .icon
      z-index: 2;
      background-color: rgba($gold_metallic,0.93);
      color: white;
      width:80%;
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
      h2{
        margin-top: 0px;
        margin-bottom: 0px;
        background-color: transparent;
      }
      #navigation{
        visibility: visible;
        padding-bottom:1em;
        ul{
          width: 100%;
          margin-top: 20px;
          li{
            float: none;
            width:100%;
            display: block;
            line-height: normal;
            margin-bottom: 0px;
            text-transform: uppercase;
            padding-left: 10px;
            a{
              width:75%;
              margin-bottom:10px;
              &.active{
                color: $purple;
              }
            }
          }
          ul{ // 2nd level menu item
            margin-top:0px;
            li{
              padding-left: 10px;
              padding-right:3px;
              a{
                padding:5px 10px;
                border-left: 2px solid $grey_dark;
                background-color: $purple_medium;
                &.uw-btn{
                  &:before{
                    background-color:gold;
                  }
                }
              }
            }
          }
        }
      }
      #nav-closer{
        display: block;
      }

    }
    .search-toggle{
      width: 40px;
      height: 40px;
      float: left;
    }
    #block-search-form{
      padding-top: 5px;
      margin-bottom: 0;
    }
    /***********************************\
    |********** NAVIGATION **********|
    \***********************************/
    #navigation{
      width: 100%;
      padding-left:0;
      visibility: hidden;
      &.mobilized{
        position:absolute;
        top:60px;
        left:0;
        height:30px;
        width:100%;
        padding:0;
        background-color:$purple;
        ul{
          li{
            display:none;
            ul{
              display:none;
            }
          }

        }

        #nav-closer{
          display: none;
        }
      }
    }
  }

  /******************************\
  |********** HEADER **********|
  \******************************/

  #header{
    // Allow for full-color background by removing padding.
    // Must add padding back in below
    padding-left:0;
    padding-right:0;
    position:relative;
    width:100%;
    background-color:black;
    .block{
      margin-bottom: 0;
    }
    #header-block-w{
      margin: 10px 0px;
      width:59.4px;
      height:40px;
      //natural size image 297x200
    }
    #header-wordmark{

    }
    h1{
      font-size:110%;
      margin-bottom:0;
      padding: 10px 0 10px 10px;
      background-color:$gold_metallic;
      color: #FFF;
    }
  }

  #nav-opener{
    position:relative;
    background-color:$purple;
    z-index: 1;
    padding-left: 10px;
  }




  /**********************************************\
  |********** BANNER / SLIDESHOW **********|
  \**********************************************/
  .region-banner{
    h2{
      margin-top:10px;
      margin-bottom: 10px;
      font-size: 1.25em;
      line-height: 1.25em;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    }
    .block{
      margin-bottom:0;
    }
    #banner-container{
      margin:0;
      padding:0;
      width:100%;
      #banner{
        overflow:auto;
        position:relative;
        top:0;
        left:0;
        height:100%;
        width:100%;
        ul{
          margin:0;
          padding:0;
          li{
            height:200px; // <- controls height of slideshow banner
            float: left;
            list-style: none;
            background-repeat: no-repeat;
            background-size: cover;
            .adm-slide{
              height: 100%; // <- controls height of semi-opaque text box in front of banner image
              //margin: -10px 0 0 0;
              margin: 0;

              // Adding the large block-W
              background: url(../images/W_only_CMYK.png);
              background-size: 106px 72px;
              background-position: bottom 0px right 10px;
              background-repeat: no-repeat;

              .adm-slide-content{
                @include vertical-align;
                margin-left:10px;
                padding-left: 10px;
                padding-right: 10px;
                max-width: 70%;
                background-color: rgba($grey_dark, 0.25);
                border: 2px solid #FFF;
                a:link, a:visited{
                  text-transform: uppercase;
                  margin-top:10px;
                  &:after{
                    content: " \203A";
                  }
                }
                p, a:visited, a:link{
                  font-weight: bold;
                  text-shadow: 1px 1px 1px rgba($grey_dark, 1);
                  color: white;
                  margin: 0;
                  line-height: normal;
                }
              }
            }
          }
        }
        .dots{
          position: absolute;
          bottom: 0px;
          margin: 0;
        }
      }
    }
  }

  /***************************\
  |********** MAIN **********|
  \***************************/

  #main{
    #content{
      #page-title{
        //display:none;
      }
      .adm-home-block{
        margin: 10px 0;
        border: 2px solid $purple;
        h2{
          margin-left: 10px;
          font-family: $uni_sans_light;
          color:$purple;
          a:link,a:visited{
            font-family: $uni_sans_light;
            color:$purple;
          }
        }
      }
    }
  }

  /**********************************\
  |********** DEBUGGING **********|
  \**********************************/
  body{
    // background-color:#50C878; // Extra Narrow = Emerald
  }

  ///////////// End @include extra_narrow

} ///////////////////////////////////////
